* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.article-header {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.article-header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-header > .article-cols {
  flex: 1;
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  color: #fff;
  padding: 4em 2em;
}

@media all and (max-width: 800px) {

  .article-header > .article-cols {
    padding: 3.5em 1.5em;
  }

}

@media all and (max-width: 500px) {

  .article-header > .article-cols {
    padding: 3em 1em;
  }

}

.article-cols {
  z-index: 1;
  position: relative;
}

.article-cols__wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}

.article-cols__col {
  flex: 0 1 50%;
}

.article-cols__col--wide {
  flex: 0 0 700px;
  padding: 0 1em;
}

@media all and (max-width: 1024px) {
  .article-cols__wrap {
    flex-wrap: wrap;
  }
  .article-cols__col--thin {
    order: 1;
  }
  .article-cols__col--wide {
    order: 0;
    flex: 0 0 100%;
    margin-bottom: 2em;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .article-cols__col {
    flex: 0 1 100%;
  }
}

.article-header__type {
  font-size: 2.2em;
  font-weight: 400;
}

.article-header__heading {
  font-size: 2.8em;
  font-weight: 500;
}

.article-header__sub-heading {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}

.article-header__text {
  font-size: 0.95em;
}

.article-header__text:first-of-type {
  font-weight: 500;
}

.article-header__by-line {
  font-size: 0.8em;
}

.article-header__by-line p {
  flex: 1;
}

.article-header__by-line span {
  font-weight: 500;
}

.article-header__time {
  border-left: 2px solid #fff;
  padding-left: 1em;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}

.article-header__time .article-header__text {
  margin: 0;
}

.article-header__tag {
  display: inline-block;
  color: #4a4a4a;
  background: #fff;
  font-size: 0.75em;
  padding: 0.2em 0.8em 0.15em 0.8em;
  border-radius: 1em;
}

.image-with-words {

}

.image-with-words + .image-with-words {
  margin-top: 4em;
}

.image-with-words__cover {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  background: black;
}

.image-with-words__cover-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-with-words__cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-with-words__body {
  position: relative;
  margin: -2em 3em 0 3em;
  padding: 2em 4em;
  background: #fff;
}

.image-with-words__body > p {
  font-size: 1.1em;
}

.image-with-words__body p:first-of-type {
  font-weight: 500;
}

.image-with-words__heading {
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  margin-bottom: 1em;
  line-height: 1.4em;
}

.image-with-words__heading:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1em;
  width: 2px;
  height: 100%;
  background: #333;
}

.cards__card {
  background: #eee;
}

.cards__card-cover {

}

.cards__card-body {
  padding: 1em 2em;
}

.cards__card-body > p {
  font-size: 1em;
}

.article-body {
  background: #fff;
  position: relative;
  z-index: 1;
}

.article-body__heading {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.article-body__wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2em;
}

.article-body__section {
  min-height: 100vh;
  position: relative;
}

.article-body__section--dark .article-cols {
  background: rgba(0,0,0,0.65);
  color: #fff;
  padding: 2em;
}

@media all and (max-width: 800px) {

  .article-body__section--dark .article-cols {
    padding: 1.5em;
  }

}

@media all and (max-width: 500px) {

  .article-body__section--dark .article-cols {
    padding: 1em;
  }

}

.article-body__section--dark .article-cols:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.65));
}

.article-body__section--dark .article-cols + .article-cols:before {
  display: none;
}

.article-body__layered-images {
  text-align: center;
  background: #222;
  position: relative;
}

.article-body__section-image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  object-fit: contain;
  width: 100%;
  max-height: 100vh;
}

.article-body__section-background-image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.article-body .article-cols__col {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.article-body__side-text {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  border-left: 2px solid #fff;
  padding-left: 1em;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}

.article-widget {
  margin-bottom: 3em;
  position: relative;
  padding-bottom: 56.25%;
}

.article-widget + .article-widget {
  margin-top: 3em;
  position: relative;
  padding-bottom: 56.25%;
}

.article-widget__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.article-widget__icon {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg,rgba(0,0,0,.3) 5%,transparent);
  z-index: 2;
  pointer-events: none;
}

.article-widget__icon > svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14%;
    min-width: 50px;
    max-width: 115px;
    -webkit-transform: translate(30%,-30%);
    -ms-transform: translate(30%,-30%);
    transform: translate(30%,-30%);
    z-index: 2;
    pointer-events: none;
    fill: #fff;
}
