/*
 *  This file is used for previewing locally using the toolbelt.
 *  The actual entry point for your component styles are in
 *  /styles/components/sdc-site-scrolling-table.scss
 *
 *  To reference project-wide styles, sdc-project-base should
 *  be added to the component npm devDependencies and imported:
 *  @import "sdc-project-base/css/base/core/_start.scss";
 *
 *  Any other files referenced in here will not be imported
 *  when the component is consumed by your app project.
 */
/* START/RESET */
/* ========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; }

html {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink; }

body[data-body-locked='true'] {
  overflow: hidden;
  width: 100%; }

img {
  max-width: 100%;
  opacity: 1;
  border: 0; }

a,
svg {
  color: inherit;
  fill: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

@media (hover: none) {
  a[href]:hover {
    text-decoration: none; } }

:focus {
  outline-offset: -2px; }

ul {
  list-style: none; }

/* PROJECT COLOR PALETTE */
/* ========= */
/* primary */
/* ========= */
/* backgrounds */
/* ========= */
/* text */
/* ========= */
/* keylines */
/* ========= */
/* gradients */
/* ========= */
/* significance */
/* ========= */
/* SDC project settings
  =========================================== */
/* AMP Specific settings
  =========================================== */
/* SDC site layout
  =========================================== */
@media all and (max-width: 939px) {
  .site-wrap-basic {
    width: 100%;
    max-width: var(--site-width-inner);
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.site-wrap, .sdc-site-scrolling-table:not(.no-skin) {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto; }

.site-wrap-padding, .section-wrap__article-column, .sdc-site-scrolling-table:not(.no-skin) {
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter); }

.site-indent[class] {
  padding-left: var(--component-padding);
  padding-right: var(--component-padding); }

.site-component-vertical-margin {
  margin-bottom: var(--component-margin); }

.site-component-vertical-margin-negative {
  margin-top: calc(var(--component-margin) * -1); }

.site-component-vertical-margin-l {
  margin-bottom: var(--group-margin); }

.site-component-vertical-margin-s {
  margin-bottom: var(--component-gap); }

.section-wrap {
  background: white; }
  .section-wrap > .site-component-vertical-margin:last-child {
    margin-bottom: 0;
    padding-bottom: var(--component-margin); }

.section-wrap--padding {
  padding: var(--component-margin) 0; }

.section-wrap--shade {
  padding: var(--group-margin) 0; }

.section-wrap__article-column .sdc-site-component-header__body {
  padding: 0; }

@media all and (max-width: 480px) {
  .site-wrap--mobile-edge, .sdc-site-scrolling-table:not(.no-skin) {
    padding-left: 0;
    padding-right: 0; }
  .site-wrap.sdc-site-tiles__inner, .sdc-site-tiles__inner.sdc-site-scrolling-table:not(.no-skin) {
    padding-left: 0;
    padding-right: 0; } }

/* Glints
  =========================================== */
.glints-box, .sdc-site-scrolling-table:not(.no-skin) .sdc-site-scrolling-table__inner {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  background-clip: padding-box;
  position: relative; }

.glints-box:before, .sdc-site-scrolling-table:not(.no-skin) .sdc-site-scrolling-table__inner:before {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px; }

.glints-wings {
  transform-style: preserve-3d;
  position: relative;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 0;
  border-bottom: 0;
  background-clip: padding-box;
  box-shadow: none;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.1), -4px 0 2px rgba(0, 0, 0, 0.1); }

@supports (transform-style: preserve-3d) {
  .glints-wings:before {
    background: rgba(255, 255, 255, 0.15); } }

.glints-wings:before {
  content: "";
  position: absolute;
  top: 0;
  height: calc(100%);
  left: -12px;
  width: calc(100% + 24px);
  transform: translateZ(-1px);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.47) 9%, rgba(255, 255, 255, 0.57) 26%, rgba(255, 255, 255, 0.8) 44%, rgba(255, 255, 255, 0.15)) 1;
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid;
  box-shadow: none;
  box-sizing: border-box; }

.glints-wings:after {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: calc(100% + 24px);
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), linear-gradient(166deg, rgba(255, 255, 255, 0.09) 45%, rgba(255, 255, 255, 0) 45%);
  background-size: 5px 100%, 5px 100%, 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 0, 7px 0, 0 0; }

.glints-wings > * {
  transform: translateZ(1px); }

.glints-wings--right {
  border-left: 0; }

.glints-wings--right:before {
  left: 0;
  width: calc(100% + 12px); }

.glints-wings--right:after {
  left: 0;
  width: calc(100% + 12px);
  background-size: 5px 100%, 0 0, 100%; }

.glints-box-padding {
  padding: var(--component-padding); }

@media all and (max-width: 480px) {
  .sdc-site-scrolling-table:not(.no-skin) .sdc-site-scrolling-table__inner[class] {
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background-color: white;
    background-image: none; }
  .sdc-site-scrolling-table:not(.no-skin) .sdc-site-scrolling-table__inner:after,
  .sdc-site-scrolling-table:not(.no-skin) .sdc-site-scrolling-table__inner:before {
    content: none; }
  .glints-wings {
    border-left-width: 8px;
    border-right-width: 8px; }
  .glints-wings:before {
    left: -8px;
    width: calc(100% + 16px); }
  .glints-wings:after {
    left: -8px;
    width: calc(100% + 16px);
    background-position: calc(100% - 4px) 0, 4px 0, 0 0; }
  .glints-wings--right:before {
    left: 0;
    width: calc(100% + 8px); }
  .glints-wings--right:after {
    left: 0;
    width: calc(100% + 8px); } }

/* SDC site shared ui skin
  =========================================== */
.sdc-ui-external-link:after {
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.2em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNNC43OTcgNy45N0wxMi42NS4xMmwuNDguNDc4TDUuMjc1IDguNDV6Ii8+PHBhdGggZD0iTTEzLjIgNC45MWgtLjY2M1YuNzUyaC00LjI2di0uNjVIMTMuMm0tMS4zMSAxMi44M0guMTA2VjEuMzg2SDUuOTl2LjY1SC43NVYxMi4zaDEwLjQ4VjcuMTY2aC42NjMiLz48L2c+PC9zdmc+Cg==) no-repeat;
  background-size: 100%;
  opacity: 0.5; }

.sdc-article-significance--exclusive[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--breaking[class] {
  color: #000000;
  background: #ffe001; }

.sdc-article-significance--sponsored[class] {
  color: #707070; }

.sdc-article-significance--live[class] {
  color: #ffffff;
  background: #d0021b; }

.sdc-article-significance--analysis[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--transfer[class] {
  color: #ffe001;
  background: #000000; }

.sdc-article-significance--update[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--eyewitness[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--opinion[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--explainer[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-site-scrolling-table {
  font-size: calc(11px + 1vw);
  line-height: 1.2; }

.sdc-site-scrolling-table__link {
  color: inherit;
  text-decoration: none; }

.sdc-site-scrolling-table__link:after {
  content: "";
  position: absolute;
  background: #f4f5f7;
  left: -100vw;
  height: 100%;
  top: 0;
  width: 200vw;
  opacity: 0;
  pointer-events: none; }

.sdc-site-scrolling-table__link:hover span {
  text-decoration: underline; }

.sdc-site-scrolling-table__link:hover:after {
  opacity: 1; }

.sdc-site-scrolling-table__link span {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding: 1px; }

.sdc-site-scrolling-table__link--betting {
  color: #d0021b;
  font-weight: bold; }

@media all and (min-width: 600px) {
  .sdc-site-scrolling-table {
    font-size: 17px; } }

.sdc-site-scrolling-table__inner {
  background-color: white;
  padding: 0.8em 1.375em; }

.sdc-site-scrolling-table__rail {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: none;
  scrollbar-width: thin;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior-x: contain; }

.sdc-site-scrolling-table__rail[data-overflow]:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 80px;
  max-width: 20%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 1em;
  top: 0;
  z-index: 9;
  pointer-events: none; }

.sdc-site-scrolling-table__rail::-webkit-scrollbar {
  width: 10px; }

.sdc-site-scrolling-table__rail::-webkit-scrollbar-track {
  background: none; }

.sdc-site-scrolling-table__rail::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  width: 6px;
  height: 6px;
  border-radius: 12px;
  border: 5px solid transparent;
  background-clip: padding-box; }

.sdc-site-scrolling-table__rail::-moz-scrollbar {
  width: 10px; }

.sdc-site-scrolling-table__table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden; }

.sdc-site-scrolling-table th {
  padding: 1.1em 1.1em 1.4em 1.1em;
  color: #707070;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  font-size: 0.93em; }

.sdc-site-scrolling-table td {
  border-top: 1px solid #e2e2e2;
  padding: 1.2em;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  position: relative;
  z-index: 3; }

.sdc-site-scrolling-table td:hover {
  z-index: 2; }

.sdc-site-scrolling-table td > *:not(:last-child) {
  margin-bottom: 0.25em; }

.sdc-site-scrolling-table tr > :first-child,
.sdc-site-scrolling-table tr > :last-child {
  padding-left: 0.5em;
  padding-right: 0.5em; }

.sdc-site-scrolling-table th svg {
  width: 6px;
  margin-right: 2px;
  position: relative;
  vertical-align: middle;
  top: -1px;
  height: 10px;
  fill: #707070; }

.sdc-site-scrolling-table [data-align="left"] {
  text-align: left; }

.sdc-site-scrolling-table [data-sizing="compact"] {
  width: 10%; }

.sdc-site-scrolling-table th[data-sort] {
  cursor: pointer; }

.sdc-site-scrolling-table th[data-sort-up="true"] svg g:first-of-type {
  opacity: 0.2; }

.sdc-site-scrolling-table th[data-sort-up="false"] svg g:last-of-type {
  opacity: 0.2; }

body {
  background: #eee;
  padding: 1em 0; }
