.pl-header {
  height: calc(100vh - 146px);
  position: relative;
  overflow: hidden;
  transition: 0.33s background;
}

.pl-header__container,
.pl-header__start {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  transition: 0.5s transform, 0.5s background;
  will-change: transform, background;
  background: black;
}

.pl-header[data-open]
.pl-header__start {
  transform: translateY(-100%)
}

.pl-header img {
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: brightness(3);
}
