$sdc-font-path-regular: "/node_modules/sdc-project-base/fonts/sky-regular.woff";
$sdc-font-path-medium: "/node_modules/sdc-project-base/fonts/sky-medium.woff";

// /* sdc project base css */
@import "../node_modules/sdc-project-base/css/base/core/vars/_vars-global";
@import "../node_modules/sdc-project-base/css/base/core/vars/_vars-uk-news";
@import "../node_modules/sdc-project-base/css/base/core/_start.scss";
@import "../node_modules/sdc-project-base/css/base/core/_fonts.scss";

/* component */
@import "../styles/components/ui-liveblog.scss";

body {
  padding: 1em;
}

.ui-liveblog {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
