.sdc-article-body {
  font-size: calc(14.8px + 1vw);
  line-height: 1.5;
  margin-bottom: var(--article-vertical-margin);
}

@media all and (min-width: 620px) {
  .sdc-article-body {
    font-size: 21px;
  }
}

.sdc-article-body > *:not(:last-child) {
  margin-bottom: calc(var(--article-vertical-margin) * 1.5);
}

.sdc-article-body > p:first-of-type {
  font-weight: bold;
}

.sdc-article-body > h2 {
  font-size: 1.5em;
  margin-bottom: 1em !important;
  font-weight: normal;
}

.sdc-article-body > h3 {
  font-size: 1.2em;
  margin-bottom: 1.5em !important;
  font-weight: normal;
}

.sdc-article-body > h4 {
  font-size: 1.05em;
  margin-bottom: 1.5em !important;
  font-weight: normal;
}

.sdc-article-body > h3 + h4 {
  margin-top: -0.6em;
}

.sdc-article-body > *:not(.sdc-article-container) a {
  color: var(--article-link-color);
  text-decoration: underline;
}

.sdc-article-body > *:not(.sdc-article-container) a:hover {
  text-decoration: none;
}

.sdc-article-body > ul {
  list-style: none;
  padding-left: 2.5em;
  font-size: 0.95em;
}

.sdc-article-body > ul > li {
  position: relative;
}

.sdc-article-body > ul > li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  top: 0.5em;
  left: -1.25em;
}

.sdc-article-body > ul > li:not(:last-child) {
  margin-bottom: 1em;
}