.sdc-article-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0;
}

.sdc-article-tags a {
  margin: 2px 3px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 9px;
  height: 1.75em;
  line-height: 0.9;
  border-radius: 20px;
  background: #fff;
  color: #3157a1;
  border: 1px solid currentColor;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.sdc-article-tags a:hover {
  background: #3157a1;
  color: white;

}