.sdc-article-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0;
}

.sdc-article-tags a {
  margin: 2px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 10px;
  line-height: 1;
  border-radius: 10px;
  background: #eee;
  color: #444;
  white-space: nowrap;
}