.sdc-article-trust a {
  color: inherit;
  font-size: 0.9em;
  line-height: 1;
}

.sdc-article-trust a:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE5IDE4Ij4gICAgPGcgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxwYXRoIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1LjEyOSAwSDIuODgyQTIuODkgMi44OSAwIDAgMCAwIDIuODh2MTIuMjRBMi44OSAyLjg5IDAgMCAwIDIuODgyIDE4aDEyLjI0N2EyLjg5IDIuODkgMCAwIDAgMi44ODEtMi44OFYyLjg4QTIuODkgMi44OSAwIDAgMCAxNS4xMyAwem0xLjggMTUuMTJjMCAuOTktLjgxIDEuOC0xLjggMS44SDIuODgyYy0uOTkgMC0xLjgwMS0uODEtMS44MDEtMS44VjIuODhjMC0uOTkuODEtMS44IDEuOC0xLjhIMTUuMTNjLjk5IDAgMS44LjgxIDEuOCAxLjh2MTIuMjR6Ii8+ICAgICAgICA8cGF0aCBkPSJNMTAuNzg4IDEzLjgyNEg3LjI0YS4xMjMuMTIzIDAgMCAxLS4xMjYtLjEyNlY3LjY1YS4xNjEuMTYxIDAgMCAwLS4xNjItLjE2MmgtMy4xN2EuMTIzLjEyMyAwIDAgMS0uMTI2LS4xMjZWNC4yNDhjMC0uMDcyLjA1NC0uMTI2LjEyNi0uMTI2aDEwLjQ0NmMuMDcyIDAgLjEyNi4wNTQuMTI2LjEyNlY3LjM4YS4xMjMuMTIzIDAgMCAxLS4xMjYuMTI2SDExLjA0YS4xMjMuMTIzIDAgMCAwLS4xMjYuMTI2djYuMDY2YS4xMjMuMTIzIDAgMCAxLS4xMjYuMTI2eiIvPiAgICA8L2c+PC9zdmc+);
  vertical-align: middle;
  position: relative;
  top: 1px;
  margin-right: 0.5em;
}