.sdc-article-widget,
.sdc-article-header {
  overflow: hidden;
}

.sdc-article-image__caption {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0%;
  padding: 5em 1em;
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.sdc-article-image__caption-text {
  text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.75);
}

.sdc-timeline-node:before {
  content: attr(data-year);
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  background-image: url(../../sky-news/img/bg-cube-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: -18px;
  width: 37px;
  height: 37px;
  border: 0;
}
