@font-face {
    font-family: 'sky_sports_premier_league_bMd';
    src: url('../../fonts/premier-league/skysportspremierleaguebeta2-medium-webfont.woff2') format('woff2'),
         url('../../fonts/premier-league/skysportspremierleaguebeta2-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: #333;
  word-wrap: break-word;
  text-decoration-skip: ink;
}

h1 {
  font-size: 2.24em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.4;
  font-size: 22px;
}

.number-counter {
  font-size: 1em;
  text-align: center;
}

.number-counter__punctuation {
  display: inline-block;
  vertical-align: middle;
  height: 0;
  line-height: 0;
}

.number-counter__digit {
  display: inline-block;
  vertical-align: middle;
  min-width: 0.55em;
  height: 1em;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
}

.number-counter__digit--static {
  color: transparent;
}

.number-counter__digit--thin {
  margin-left: 0.1em;
}

.number-counter__digit-wheel {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1em;
  transition: transform 1s ease-in-out;
}

.stats {
  font-family: 'sky_sports_premier_league_bMd', 'Sky Text', Sans-serif;
  padding: 2em;
}

.stats__wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.stats__block {
  margin: 0 auto 2em auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.stats__block .chart {
  flex: 1;
}

.stats__heading {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.bar-chart {
  list-style: none;
  height: 300px;
  vertical-align: bottom;
  display: flex;
  flex: 1 0 50%;
  overflow: hidden;
  background: #eee;
  margin: 0 0 2em 0;
}

.bar-chart__bar {
  width: 2em;
  height: 100%;
  text-align: center;
  color: #fff;
  flex: 1;
  align-self: flex-end;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.bar-chart__bar--manutd {
  background-color: #e12420;
}

.bar-chart__bar--mancity {
  background-color: #5CBFEB;
}

.bar-chart[data-direction="horizontal"] {
  height: auto;
  flex-direction: column;
}

.bar-chart[data-direction="horizontal"] .bar-chart__bar {
  width: 100%;
  height: 0.5em;
  transform: translateX(-100%);
  position: relative;
}

.chart__name {
  font-size: 1.1em;
  margin: 0 0 0.25em 0;
  text-align: left;
}

.chart__value {
  margin: -0.5em 0 0 1.25em;
  font-size: 1em;
  width: 15%;
}

.chart__box {
  display: flex;
}

.chart__body {
  flex: 1;
}

.chart__image-wrap {
  width: 3em;
  height: 3em;
  margin-right: 1.5em;
  background: #eee;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.25);
}

.chart__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chart--bar {
  flex: 0 0 100% !important;
  display: flex;
}

.circle-chart {
  position: relative;
  max-width: 200px;
  padding: 0.5em;
  display: inline-block;
}

.circle-chart__image {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left:-25%;
}

.circle-chart > svg {
  width: 100%;
}

.circle-chart > .number-counter {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -0.65em;
  font-size: 3em;
  z-index: 2;
}

.circle-chart__track {
  fill: transparent;
  stroke: rgba(0,0,0,0.1);
  stroke-width: 1;
}

.circle-chart__bar {
  fill: transparent;
  stroke: rgba(0,0,0,0.5);
}
