.sf-sons-quiz {
  background: #0e224b;
  text-align: center;
  color: white;
  contain: style;
}

.sf-sons-quiz__header[class] {
  margin-bottom: 0.3em
}

.sf-sons-quiz__options {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem
}

.sf-sons-quiz__options > li {
  margin: 0 0.3rem
}

.sf-sons-quiz__option[class] {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s, opacity 0.5s, background 0.5s;
  transform: scale(0.999)
}

.sf-sons-quiz__option[data-animate-in-view] {
  transform: scale(0)
}

.sf-sons-quiz[data-answered]
.sf-sons-quiz__option {
  transform: scale(0.8);
  pointer-events: none;
}

.sf-sons-quiz[data-answered]
.sf-sons-quiz__option[data-correct="true"]{
  transform: scale(1.2)
}

.sf-sons-quiz[data-answered]
.sf-sons-quiz__option[data-correct="false"]{
  transform: scale(1.2);
  opacity: 0.7
}

.sf-sons-quiz__show-results {
  margin: 0 auto;
  -webkit-appearance: none;
  appearance: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  padding: 0.5em 0.8em;
  background: none;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 1rem;
}

.sf-sons-quiz
.sf-sons-big-number[class] {
  margin-bottom: 0;
  text-align: left;
  background: 0
}

.sf-sons-quiz__result {
  display: none
}

.sf-sons-quiz[data-answered]
.sf-sons-quiz__result {
  display: block
}

.sf-sons-quiz__result-text {
  margin: 2rem 0 2rem;
  background: white;
  color: black;
}

.sf-sons-quiz__result-text .sf-sons-big-number[class] {
  padding: 1.5rem 0
}

.sf-sons-quiz__result-text .sf-sons-circle-chart__stat {
  width: 6rem;
}