@font-face{font-family:Sky Text;src:url(../fonts/sky-regular.woff) format("woff")}
@font-face{font-family:Sky Text;src:url(../fonts/sky-medium.woff) format("woff");font-weight:700}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: calc(14px + 0.9vw);
  line-height: 1.3
}

@media all and (min-width: 1000px){
  html {
    font-size: 22px;
  }
}

body {
  font-family: "Sky Text", sans-serif;
  font-size: 1rem;
  background: #0e224b;
  color: white;
}

.sf-body-wrap[class] {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.sf-body-wrap--narrow[class] {
  max-width: 604px;
  margin-left: auto;
  margin-right: auto;
}


.sky-news-header {
  height: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

@media all and (max-width: 580px){
  .sky-news-header {
    height: 56px;
  }
}

.sf-share {
  margin-bottom: 2rem;
}

.sdc-site-share__link[class] {
  padding: 0.4em!important;
}

.no-js [data-animate-in-view][class] {
  transform: none!important
}