.waffle__chart {
  max-width: 12rem;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(10, 1fr); */
  contain: layout;
  transform: rotate(-90deg);
}

.waffle__chart:empty:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.waffle--invert {
  transform: rotate(90deg)
}

.waffle--reverse {
  direction: rtl;
}

@supports not(display: grid){
  .waffle__chart--row.waffle--reverse[class] {
    transform: rotate(90deg);
  }
}

/* 1/5 */
.waffle__chart[data-current-color="color-1"]
.waffle__chart-seg:not(.color-1) {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-5"]
.waffle__chart-seg:not(.color-5) {
  transform: translateY(99.9%) scale(0.999)!important
}

/* 2/4 */
.waffle__chart[data-current-color="color-2"]
.waffle__chart-seg:not(.color-2) {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart[data-current-color="color-2"]
.waffle__chart-seg.color-1 {
  transform: translateY(-99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-4"]
.waffle__chart-seg:not(.color-4) {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-4"]
.waffle__chart-seg.color-5 {
  transform: translateY(-99.9%) scale(0.999)
}

/* 3/3 */
.waffle__chart[data-current-color="color-3"]
.waffle__chart-seg:not(.color-3) {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart[data-current-color="color-3"]
.waffle__chart-seg.color-1,
.waffle__chart[data-current-color="color-3"]
.waffle__chart-seg.color-2 {
  transform: translateY(-99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-3"]
.waffle__chart-seg:not(.color-3) {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-3"]
.waffle__chart-seg.color-4,
.waffle__chart.waffle--reverse[data-current-color="color-3"]
.waffle__chart-seg.color-5 {
  transform: translateY(-99.9%) scale(0.999)
}

/* 4/2 */
.waffle__chart[data-current-color="color-4"]
.waffle__chart-seg:not(.color-4) {
  transform: translateY(-99.9%) scale(0.999)
}

.waffle__chart[data-current-color="color-4"]
.waffle__chart-seg.color-5,
.waffle__chart[data-current-color="color-4"]
.waffle__chart-seg.color-6 {
  transform: translateY(99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-2"]
.waffle__chart-seg:not(.color-2) {
  transform: translateY(-99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-2"]
.waffle__chart-seg.color-1 {
  transform: translateY(99.9%) scale(0.999)
}

/* 5/1 */
.waffle__chart[data-current-color="color-5"]
.waffle__chart-seg:not(.color-5) {
  transform: translateY(-99.9%) scale(0.999)
}

.waffle__chart.waffle--reverse[data-current-color="color-1"]
.waffle__chart-seg:not(.color-1) {
  transform: translateY(-99.9%) scale(0.999)
}


@supports (display: grid){

  .waffle__chart--row[class] {
    max-width: 100%;
    width: 100%;
    transform: none;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .waffle__chart--row[class] 
  .waffle__chart-seg {
    width: auto;
    grid-row: 1;
  }

  .waffle__chart--row[class] 
  .waffle__chart-seg:nth-child(4n+2){
    grid-row: 2;
  }

  .waffle__chart--row[class] 
  .waffle__chart-seg:nth-child(4n+3){
    grid-row: 3;
  }

  .waffle__chart--row[class] 
  .waffle__chart-seg:nth-child(4n+4){
    grid-row: 4;
  }

  /* 1/5 */
  .waffle__chart--row[data-current-color="color-1"]
  .waffle__chart-seg:not(.color-1) {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-5"]
  .waffle__chart-seg:not(.color-5) {
    transform: translateX(99.9%) scale(0.999)!important
  }

  /* 2/4 */
  .waffle__chart--row[data-current-color="color-2"]
  .waffle__chart-seg:not(.color-2) {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row[data-current-color="color-2"]
  .waffle__chart-seg.color-1 {
    transform: translateX(-99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-4"]
  .waffle__chart-seg:not(.color-4) {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-4"]
  .waffle__chart-seg.color-5 {
    transform: translateX(-99.9%) scale(0.999)
  }

  /* 3/3 */
  .waffle__chart--row[data-current-color="color-3"]
  .waffle__chart-seg:not(.color-3) {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row[data-current-color="color-3"]
  .waffle__chart-seg.color-1,
  .waffle__chart--row[data-current-color="color-3"]
  .waffle__chart-seg.color-2 {
    transform: translateX(-99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-3"]
  .waffle__chart-seg:not(.color-3) {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-3"]
  .waffle__chart-seg.color-4,
  .waffle__chart--row.waffle--reverse[data-current-color="color-3"]
  .waffle__chart-seg.color-5 {
    transform: translateX(-99.9%) scale(0.999)
  }

  /* 4/2 */
  .waffle__chart--row[data-current-color="color-4"]
  .waffle__chart-seg:not(.color-4) {
    transform: translateX(-99.9%) scale(0.999)
  }

  .waffle__chart--row[data-current-color="color-4"]
  .waffle__chart-seg.color-5,
  .waffle__chart--row[data-current-color="color-4"]
  .waffle__chart-seg.color-6 {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-2"]
  .waffle__chart-seg:not(.color-2) {
    transform: translateX(-99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-2"]
  .waffle__chart-seg.color-1 {
    transform: translateX(99.9%) scale(0.999)
  }

  /* 5/1 */
  .waffle__chart--row[data-current-color="color-5"]
  .waffle__chart-seg:not(.color-5) {
    transform: translateX(-99.9%) scale(0.999)
  }

  .waffle__chart--row[data-current-color="color-5"]
  .waffle__chart-seg.color-6 {
    transform: translateX(99.9%) scale(0.999)
  }

  .waffle__chart--row.waffle--reverse[data-current-color="color-1"]
  .waffle__chart-seg:not(.color-1) {
    transform: translateX(-99.9%) scale(0.999)
  }

}

.waffle__chart-seg {
  border: 1px solid #0e224b;
  border-radius: 50%;
  transition: transform 0.25s;
  will-change: transform;
  transition-delay: 0!important; 
  transform: scale(0.999);
  cursor: pointer;
  position: relative;
  width: 10%;
  /* contain: paint */
}

@media all and (min-width: 800px){
  .waffle__chart-seg {
    border-width: 2px
  }
}

.waffle__chart-seg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.waffle__chart[data-animate-in-view] >
.waffle__chart-seg {
  transform: scale(0.01);
}

.waffle__chart-tool {
  content: attr(data-tooltip);
  background: #0e224b;
  border-radius: 12px;
  min-width: 100px;
  max-width: 60%;
  padding: 0.5rem 0.75rem 0.7rem 0.5rem;
  position: absolute;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  opacity: 1;
  white-space: pre;
  transform: translate(-50%, calc(-100% - 12px));
  opacity: 0;
  transition: opacity 0.25s, top 0.25s, left 0.25s;
  pointer-events: none;
  border: 1px solid white;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.35));
  z-index: 99
}

.waffle__chart-tool:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  bottom: -6px;
  left: calc(50% - 5px);
  transform: rotate(-45deg);
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  box-sizing: border-box

}

.waffle__chart-tool strong {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.1em;
  display: block;
  color: inherit
}

.waffle__chart-tool span {
  color: white
}

.waffle__chart-label {
  font-size: 1.1rem;
  padding-top: 0.75em;
  font-weight: 500
}

.waffle__chart-row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 1.5rem;
}

.waffle__chart-row:last-child {
  margin-bottom: 0
}

.waffle__chart-row--cols {
  flex-direction: column
}

.waffle__chart-col {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 1.6rem;
}

.waffle__chart-summary {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.waffle__chart-sub-header {
  font-weight: 400;
  margin-bottom: 0.5em;
}

.waffle__chart-source {
  font-size: 0.7rem;
  color: inherit;
  max-width: 550px;
  padding-top: 1em;
  text-align: left;
  opacity: 0.9
}

.waffle__chart-source strong {
  display: block;
  margin-bottom: 0.2em
}



@media all and (min-width: 1001px){
  .waffle__chart-row--col3
  .waffle__chart-col {
    width: 33.3%;
    flex: auto;
  }

}

@media all and (min-width: 400px) and (max-width: 1000px){
  .waffle__chart-row--col4 .waffle__chart-col,
  .waffle__chart-row--col3 .waffle__chart-col {
    width: 50%;
    flex: auto;
  }


}

@media all and (max-width: 399px){

  .waffle__chart {
    max-width: 14rem;
  }

  .waffle__chart-row--col2 .waffle__chart-col,
  .waffle__chart-row--col3 .waffle__chart-col,
  .waffle__chart-row--col4 .waffle__chart-col {
    width: 100%;
    flex: auto;
  }

  .waffle__chart-row--col2 .waffle__chart-col:last-child,
  .waffle__chart-row--col3 .waffle__chart-col:last-child,
  .waffle__chart-row--col4 .waffle__chart-col {
    margin-bottom: 0
  }
}

.waffle__chart-bar-layout1 {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 5%;
  flex-wrap: wrap;
}

.waffle__chart-bar-layout1 > h4 {
  width: 100%;
  grid-column: 1/3;
  text-align: left;
  padding-bottom: 0.5em;;
  font-weight: 400;
}

.waffle__chart-bar-layout1 > div,
.waffle__chart-bar-layout2 > div {
  margin-bottom: 1.4rem;
}

.waffle__chart-bar-label {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  line-height: 1;
  font-size: calc(9px + 0.4rem)
}

.waffle__chart-bar-label strong {
  font-weight: 600;
}

.waffle__chart-bar,
.waffle__chart-bar--3row {
  transform: none;
  max-width: 100%;
  width: 100%;
  contain: style;
}

.waffle__chart[aria-hidden="true"] {
  pointer-events: none;
}

@supports (display: grid){
  .waffle__chart-bar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(30, 1fr);
  }

  .waffle__chart-bar--3row {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }

  .waffle__chart-bar > .waffle__chart-seg:nth-child(2n+1) {
    width: auto;
    grid-row: 1
  }

  .waffle__chart-bar > .waffle__chart-seg:nth-child(2n+2) {
    width: auto;
    grid-row: 2
  }

  .waffle__chart-bar--3row > .waffle__chart-seg:nth-child(3n+1) {
    width: auto;
    grid-row: 1
  }

  .waffle__chart-bar--3row > .waffle__chart-seg:nth-child(3n+2) {
    width: auto;
    grid-row: 2
  }

  .waffle__chart-bar--3row > .waffle__chart-seg:nth-child(3n+3) {
    width: auto;
    grid-row: 3
  }

}

.waffle__chart-bar > .waffle__chart-seg {
  border-width: 0.2vw;
}

@supports not (display: grid){
  .waffle__chart-bar > .waffle__chart-seg {
    width: calc(100% / 30);
  }

  .waffle__chart-bar--3row > .waffle__chart-seg {
    width: calc(100% / 21);
  }

  .waffle__chart-bar-layout1 > div {
    width: 50%;
    padding-right: 1rem;
  }
}
