.sf-barinfo {
  text-align: center;
  margin-bottom: 1rem
}

.sf-barinfo__inner {
  max-width: 680px;
  margin: 0 auto;
  background: white;
  padding: 1.5rem 1rem;
}

.sf-barinfo__key {
  margin: 0 0 1.2rem;
  font-size: 0.75rem;
  display: inline-flex;
}

.sf-barinfo__key:last-child {
  margin: 1.2rem 0 0;
}

.sf-barinfo__key-defs {
  display: flex;
  list-style: none;
  font-size: 0.8rem
}

.sf-barinfo__key-defs-item {
  margin: 0 0.3rem
}

.sf-barinfo__key-defs-item > span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  position: relative;
  top: -1px;
}


.sf-barinfo__bars {
  display: flex;
  flex-direction: column
}

.sf-barinfo__bar {
  display: flex;
  font-size: 0.9rem;
  height: 2rem;
  margin-bottom: 0.5rem
}

.sf-barinfo__label {
  width: 3.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  font-weight: 200
}

.sf-barinfo__barbody {
  flex: 1;
  display: flex;
}

.sf-barinfo__barbody-seg {
  transition: width 0.5s;
  transition-delay: 0.1s;
  will-change: width;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sf-barinfo__bar[data-animate-in-view] .sf-barinfo__barbody-seg {
  width: 1px !important
}

.sf-barinfo__barbody-seg+.sf-barinfo__barbody-seg,
.sf-barinfo__key-defs-item + .sf-barinfo__key-defs-item > span {
  opacity: 0.6
}

.sf-barinfo__result {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center
}

.sf-barinfo--rep {
  background: #b90303;
  color: white;
  transition-delay: 0.166s
}

.sf-barinfo--dem {
  background: #00476c;
  color: white;
  transition-delay: 0.33s
}

.sf-barinfo--ind {
  background: #313131;
  color: white;
}

.sf-barinfo__bars--vertical
.sf-barinfo__bar {
  height: 2.4rem
}

.sf-barinfo__bars--vertical
.sf-barinfo__barbody {
  flex-direction: column;
}

.sf-barinfo__bars--vertical
.sf-barinfo__barbody-seg {
  justify-content: flex-end;
  font-size: 0.67rem;
  flex: 1
}

.sf-barinfo__bars--vertical
.sf-barinfo__barbody-seg > span {
  padding: 0 0.3em;
  display: inline-block;
}

.sf-barinfo__barbody-seg--outer {
  overflow: visible; 
}

.sf-barinfo__barbody-seg--outer > span{
  transform: translateX(100%);
  color: #222;

}
