.sf-venn {
  margin-bottom: 1rem;
}

.sf-venn__inner {
  margin: 0 auto;
}

.sf-venn__body {
  max-width: 680px;
  background: white;
  margin: 0 auto;
  padding: 1rem ;
  position: relative;
  background-size: 100% 100%;
}

.sf-venn__canvas {
  position: relative;
  padding-bottom: 60%;
  margin-bottom: 2em;
  /*   opacity: 0.2 */
  /*   display: none */

}

.sf-venn__circles {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 25%;
  width: 50%;
  padding-bottom: 50%;
}

.sf-venn__circle {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.66s;
  opacity: 0.8;
  will-change: transform;
}

.sf-venn__circle--dem {
  background: #00476c;
}

.sf-venn__circle--rep {
  background: #b90304;
}

.sf-venn__circle--blend {
  display: none;
}

@supports (mix-blend-mode: lighten) {
  .sf-venn__circle {
    opacity: 1;
  }

  .sf-venn__circle--blend {
    mix-blend-mode: lighten;
    display: block;
  }
}

.sf-venn__canvas[data-animate-in-view] .sf-venn__circle {
  transform: translateY(0) !important
}

.sf-venn__horizontal-line,
.sf-venn__vertical-line {
  background: #000;
}

.sf-venn__vertical-line {
  position: absolute;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  z-index: 2;
}

.sf-venn__horizontal-line {
  position: absolute;
  width: 100%;
  height: 4px;
  top: calc(50% - 2px);
  z-index: 2;
}

.sf-venn__ruler {
  position: absolute;
  width: 100%;
  height: 10px;
  top: calc(50% + 2px);
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  z-index: 2;
}

.sf-venn__ruler-increment {
  display: inline-block;
  vertical-align: top;
  width: 5%;
  height: 6px;
  border-left: 2px solid #000;
}

.sf-venn__ruler-increment:first-child {
  border-color: transparent;
}

.sf-venn__ruler-increment:nth-child(11n) {
  border-color: transparent;
}

.sf-venn__key {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: #666;
  padding: 0.5rem 0 0
}

.sf-venn__divided {
  display: flex;
  flex-direction: column;
  align-items: center
}

.sf-venn__label {
  flex: 1;
  text-align: center;
}

.sf-venn__divided-cell {
  text-align: center;
}

.sf-venn__divided-cell:first-of-type {
  padding-bottom: 0.5rem
}

.sf-venn__divided-arrows {
  height: 3px;
  width: 2rem;
  margin: 0.4rem auto;
  display: block;
  background: linear-gradient(to right, #00476c 0%, #00476c 50%, #b90304 50%, #b90304 100%);
  position: relative;
}

.sf-venn__divided-arrows:before,
.sf-venn__divided-arrows:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  left: 0;
  display: block;
  border: 3px solid #00476c;
  border-bottom: 0;
  border-left: 0;
  position: absolute;
  top: calc((-0.5rem / 2) - 0px);
  transform: rotate(225deg)
}

.sf-venn__divided-arrows:after {
  left: auto;
  right: 0;
  transform: rotate(45deg);
  border-color: #b90304
}

.sf-venn__divided-arrows--out {
  background: linear-gradient(to right, transparent 20%, #c82868 20%, #c82868 80%, transparent 80%);
}

.sf-venn__divided-arrows--out:before {
  transform: rotate(45deg);
  left: -0.25rem
}

.sf-venn__divided-arrows--out:after {
  transform: rotate(225deg);
  right: -0.25rem
}

.sf-venn__centre-ground {
  display: inline-block;
  width: 2em;
  height: 0.75em;
  background-color: #c82868;
}

.sf-venn__nav {
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center
}

.sf-venn__nav a {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  color: #999;
}

.sf-venn__nav a[aria-current] {
  font-weight: bold;
  color: inherit
}