.sf-team-selector {
  text-align: center;
}

.sf-team-selector
.sdc-interactive-selector[class] {
  background: none!important;
  max-width: 650px;
  margin: 0 auto;
}

.sdc-interactive-selector__title-wrap[class] {
  padding: 0 0 1rem
 }

 .sdc-interactive-selector__title {
   font-size: 1.4rem
 }

 .sf-team-selector
 .sdc-interactive-selector__selector-body {
   padding: 0.5rem 0
 }

 .sf-team-selector
 .sdc-interactive-selector__formation-picker {
   padding: 0.5rem 0
 }

 .sf-team-selector
 .sdc-interactive-selector__formation-wrap {
   max-width: 80vw;
 }

