.sf-teams-ha {
  background: linear-gradient(to right, #DB0007 0,#DB0007 50%,#132257 50%, #132257 100%);
  color: white;
}

.sf-teams-h {
  background: #DB0007
}

.sf-teams-a {
  background: #132257
}

