.sf-teams-ha {
  background: linear-gradient(to right, #C8102E 0,#C8102E 50%,#003399 50%, #003399 100%);
  color: white;
}

.sf-teams-h {
  background: #C8102E
}

.sf-teams-a {
  background: #003399
}

