/*
 *  This file is used for previewing locally using the toolbelt.
 *  The actual entry point for your component styles are in
 *  /styles/components/sdc-article-related-stories.scss
 *
 *  To reference project-wide styles, sdc-project-base should
 *  be added to the component npm devDependencies and imported:
 *  @import "sdc-project-base/css/base/core/_start.scss";
 *
 *  Any other files referenced in here will not be imported
 *  when the component is consumed by your app project.
 */
/* START/RESET */
/* ========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; }

html {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink; }

body[data-body-locked='true'] {
  overflow: hidden;
  width: 100%; }

img {
  max-width: 100%;
  opacity: 1;
  border: 0; }

a,
svg {
  color: inherit;
  fill: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

@media (hover: none) {
  a[href]:hover {
    text-decoration: none; } }

:focus {
  outline-offset: -2px; }

ul {
  list-style: none; }

/* PROJECT COLOR PALETTE */
/* ========= */
/* primary */
/* ========= */
/* backgrounds */
/* ========= */
/* text */
/* ========= */
/* keylines */
/* ========= */
/* gradients */
/* ========= */
/* significance */
/* ========= */
/* SDC project settings
  =========================================== */
/* AMP Specific settings
  =========================================== */
/* SDC site layout
  =========================================== */
@media all and (max-width: 939px) {
  .site-wrap-basic {
    width: 100%;
    max-width: var(--site-width-inner);
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.site-wrap {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto; }

.site-wrap-padding, .section-wrap__article-column {
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter); }

.site-indent[class] {
  padding-left: var(--component-padding);
  padding-right: var(--component-padding); }

.site-component-vertical-margin {
  margin-bottom: var(--component-margin); }

.site-component-vertical-margin-negative {
  margin-top: calc(var(--component-margin) * -1); }

.site-component-vertical-margin-l {
  margin-bottom: var(--group-margin); }

.site-component-vertical-margin-s {
  margin-bottom: var(--component-gap); }

.section-wrap {
  background: white; }
  .section-wrap > .site-component-vertical-margin:last-child {
    margin-bottom: 0;
    padding-bottom: var(--component-margin); }

.section-wrap--padding {
  padding: var(--component-margin) 0; }

.section-wrap--shade {
  padding: var(--group-margin) 0; }

.section-wrap__article-column .sdc-site-component-header__body {
  padding: 0; }

@media all and (max-width: 480px) {
  .site-wrap--mobile-edge {
    padding-left: 0;
    padding-right: 0; }
  .site-wrap.sdc-site-tiles__inner {
    padding-left: 0;
    padding-right: 0; } }

/* Glints
  =========================================== */
.glints-box {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  background-clip: padding-box;
  position: relative; }

.glints-box:before {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px; }

.glints-wings {
  transform-style: preserve-3d;
  position: relative;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 0;
  border-bottom: 0;
  background-clip: padding-box;
  box-shadow: none;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.1), -4px 0 2px rgba(0, 0, 0, 0.1); }

@supports (transform-style: preserve-3d) {
  .glints-wings:before {
    background: rgba(255, 255, 255, 0.15); } }

.glints-wings:before {
  content: "";
  position: absolute;
  top: 0;
  height: calc(100%);
  left: -12px;
  width: calc(100% + 24px);
  transform: translateZ(-1px);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.47) 9%, rgba(255, 255, 255, 0.57) 26%, rgba(255, 255, 255, 0.8) 44%, rgba(255, 255, 255, 0.15)) 1;
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid;
  box-shadow: none;
  box-sizing: border-box; }

.glints-wings:after {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: calc(100% + 24px);
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), linear-gradient(166deg, rgba(255, 255, 255, 0.09) 45%, rgba(255, 255, 255, 0) 45%);
  background-size: 5px 100%, 5px 100%, 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 0, 7px 0, 0 0; }

.glints-wings > * {
  transform: translateZ(1px); }

.glints-wings--right {
  border-left: 0; }

.glints-wings--right:before {
  left: 0;
  width: calc(100% + 12px); }

.glints-wings--right:after {
  left: 0;
  width: calc(100% + 12px);
  background-size: 5px 100%, 0 0, 100%; }

.glints-box-padding {
  padding: var(--component-padding); }

@media all and (max-width: 480px) {
  .glints-wings {
    border-left-width: 8px;
    border-right-width: 8px; }
  .glints-wings:before {
    left: -8px;
    width: calc(100% + 16px); }
  .glints-wings:after {
    left: -8px;
    width: calc(100% + 16px);
    background-position: calc(100% - 4px) 0, 4px 0, 0 0; }
  .glints-wings--right:before {
    left: 0;
    width: calc(100% + 8px); }
  .glints-wings--right:after {
    left: 0;
    width: calc(100% + 8px); } }

/* SDC site shared ui skin
  =========================================== */
.sdc-ui-external-link:after {
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.2em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNNC43OTcgNy45N0wxMi42NS4xMmwuNDguNDc4TDUuMjc1IDguNDV6Ii8+PHBhdGggZD0iTTEzLjIgNC45MWgtLjY2M1YuNzUyaC00LjI2di0uNjVIMTMuMm0tMS4zMSAxMi44M0guMTA2VjEuMzg2SDUuOTl2LjY1SC43NVYxMi4zaDEwLjQ4VjcuMTY2aC42NjMiLz48L2c+PC9zdmc+Cg==) no-repeat;
  background-size: 100%;
  opacity: 0.5; }

.sdc-article-significance--exclusive[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--breaking[class] {
  color: #000000;
  background: #ffe001; }

.sdc-article-significance--sponsored[class] {
  color: #707070; }

.sdc-article-significance--live[class] {
  color: #ffffff;
  background: #d0021b; }

.sdc-article-significance--analysis[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--transfer[class] {
  color: #ffe001;
  background: #000000; }

.sdc-article-significance--update[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--eyewitness[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--opinion[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--explainer[class] {
  color: #ffffff;
  background: #0a1388; }

/* SDC article strapline skin
  =========================================== */
.sdc-article-strapline__button[class] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0.64em 1em;
  line-height: 1;
  color: #0a1388;
  border: 1px solid currentColor;
  background: none;
  font-family: inherit;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer; }
  .sdc-article-strapline__button[class]:hover {
    text-decoration: none;
    border-color: #0a1388;
    background-color: #0a1388;
    color: white; }

.sdc-article-strapline {
  max-width: 100%;
  position: relative;
  font-size: 1em; }
  .sdc-article-strapline .sdc-article-strapline__link {
    color: inherit; }

.sdc-article-strapline--default-layout .sdc-article-strapline__link {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2; }

.sdc-article-strapline--default-layout .sdc-article-strapline__body {
  text-align: center;
  width: 100%; }

.sdc-article-strapline--default-layout .sdc-article-strapline__image-wrap {
  width: 100%;
  box-sizing: content-box;
  margin-bottom: 1em; }

.sdc-article-strapline--default-layout .sdc-article-strapline__image {
  display: block;
  width: 100%;
  height: auto; }

.sdc-article-strapline--default-layout .sdc-article-strapline__text {
  margin-bottom: 0; }

.sdc-article-strapline--default-layout .sdc-article-strapline__button {
  font-size: 0.88889em; }

@media all and (min-width: 481px) {
  .sdc-article-strapline--default-layout .sdc-article-strapline__link {
    display: table;
    table-layout: fixed; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__body {
    text-align: left; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__image-wrap {
    width: 100px;
    padding-right: 21px;
    margin-bottom: 0; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__image-wrap, .sdc-article-strapline--default-layout .sdc-article-strapline__body {
    display: table-cell;
    vertical-align: top; } }

@media all and (min-width: 681px) {
  .sdc-article-strapline--default-layout .sdc-article-strapline__image-wrap {
    width: 160px;
    padding-right: 28px; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__body {
    vertical-align: middle; } }

.sdc-article-strapline--default-layout .sdc-article-strapline__link {
  border-radius: 5px;
  padding: 21px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__link:hover, .sdc-article-strapline--default-layout .sdc-article-strapline__link:active {
    background-color: #fff; }

.sdc-article-strapline--default-layout .sdc-article-strapline__title {
  font-size: 1.22222em;
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.2;
  color: #4a4a4a; }

.sdc-article-strapline--default-layout .sdc-article-strapline__text {
  font-size: 0.88889em;
  line-height: 1.375;
  color: #4a4a4a; }

.sdc-article-strapline--default-layout .sdc-article-strapline__button {
  margin-top: 1em; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__button:before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    right: -1px;
    z-index: 4; }

@media all and (min-width: 681px) {
  .sdc-article-strapline--default-layout .sdc-article-strapline__title {
    font-size: 1.33333em; }
  .sdc-article-strapline--default-layout .sdc-article-strapline__text {
    font-size: 1em; } }

.sdc-article-strapline--button-layout {
  text-align: center; }
  .sdc-article-strapline--button-layout .sdc-article-strapline__text {
    margin-bottom: 0.25em;
    color: #4a4a4a; }
  .sdc-article-strapline--button-layout .sdc-article-strapline__button {
    font-weight: bold;
    font-size: 0.88889em;
    color: #0a1388; }
