.sf-counter {
  display: inline-flex;
}

.sf-counter__cell {
  font-size: 1em;
  line-height: 0.8;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
}

.sf-counter__cell[data-number="1"]{
  letter-spacing: 0.1em
}

.sf-counter__cell[data-number]>span {
  visibility: hidden
}

.sf-counter__cell[data-number]:after {
  content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A";
  display: block;
  word-break: break-all;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease-in-out;
  transition-delay: 0.25s;
  will-change: transform;
}

.sf-counter[data-animate-in-view] .sf-counter__cell:after {
  transform: translateY(10%)
}

.sf-counter__cell[data-number="0"]:after {
  transform: translateY(0%)
}

.sf-counter__cell[data-number="1"]:after {
  transform: translateY(-10%)
}

.sf-counter__cell[data-number="2"]:after {
  transform: translateY(-20%)
}

.sf-counter__cell[data-number="3"]:after {
  transform: translateY(-30%)
}

.sf-counter__cell[data-number="4"]:after {
  transform: translateY(-40%)
}

.sf-counter__cell[data-number="5"]:after {
  transform: translateY(-50%)
}

.sf-counter__cell[data-number="6"]:after {
  transform: translateY(-60%)
}

.sf-counter__cell[data-number="7"]:after {
  transform: translateY(-70%)
}

.sf-counter__cell[data-number="8"]:after {
  transform: translateY(-80%)
}

.sf-counter__cell[data-number="9"]:after {
  transform: translateY(-90%)
}

.sf-counter__cell[data-text]>span {
  letter-spacing: 1px;
}

.sf-counter__cell[data-text="small"]>span {
  font-size: 0.6em
}