.sf-gunsales {
  margin-bottom: 1rem
}

.sf-gunsales__inner {
  max-width: 680px;
  margin: 0 auto;
}

.sf-gunsales__body {
}

.sf-gunsales__title {
  font-size: 0.75rem;
  font-weight: 200;
  text-align: center;
  padding-top: 1rem
}

.sf-gunsales__canvas {
  position: relative;
  padding-bottom: 75%;
  background-size: 100% 100%;
  opacity: 1;
  will-change: opacity;
}

.sf-gunsales__svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3
}

.sf-gunsales__svg-line {
  stroke: #555;
  stroke-width: 1;
  fill: none
}

.sf-gunsales__hotspot {
  width: 1rem;
  height: 1rem;
  background: #ccac58;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.25s, opacity 0.2s;
  will-change: transform;
  opacity: 1;
  z-index: 3
}

.sf-gunsales__canvas[data-role="gunsales-gfx"] {
  opacity: 0;
}

.sf-gunsales__canvas[data-role="gunsales-gfx"] .sf-gunsales__hotspot {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0
}

.sf-gunsales__hotspot-label {
  font-size: 0.7rem;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  font-style: normal;
  background: black;
  color: white;
  padding: 0.25em 0.25em 0.2em;
}

.sf-gunsales__hotspot-label[data-align*="right"] {
  left: auto;
  right: 100%;
  transform: translate(-5px, -50%)
}

.sf-gunsales__hotspot-label[data-align*="top"] {
  left: auto;
  right: 50%;
  bottom: 100%;
  top: auto;
  transform: translate(50%, -60%)
}

.sf-gunsales__div {
  height: 2px;
  background: #eee;
  position: absolute;
  width: 90%;
  top: 79%;
  left: 5%;
}

.sf-gunsales__scale {
  font-size: 0.6rem;
  color: #777;
  position: absolute;
  left: 0;
  transform: translateX(0.5rem);
}

.sf-gunsales__body[data-animate-in-view]
.sf-line-graph__clip {
  x: -680
}