.sf-header--main {
  text-align: center;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: .2em;
  line-height: 1;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.sf-header--main > span {
  display: inline-block;
  border-bottom: 3px solid currentColor;
}

.sf-header--main > em {
  font-size: 0.9rem;
  display: block;
  font-style: normal;
  color: #999;
  text-transform: none;
  padding-top: 1rem;
  line-height: 1.2;
  max-width: 680px;
  margin: 0 auto;
}

.sf-header--sub {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

