.sf-header--main {
  text-align: center;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: .2em;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.sf-header--main > span {
  display: inline-block;
  border-bottom: 3px solid currentColor
}

.sf-header--sub {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

