.sf-hero {
  color: white;
  background: #e8e8e8;
  font-size: 2rem;
  max-height: calc(100vh - 139px);
  position: relative;
}

.sf-hero:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.sf-hero__wings {
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: calc(2rem + 2vmin);
  font-weight: 200;
  overflow: hidden
}

.sf-hero__wing {
  width: 50%;
  transition: transform 0.5s;
  will-change: transform;
  transform: translateX(0);
  transition-delay: 0.66s;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sf-hero__wing--1 {
  background-color: #00476c;
  box-shadow: 6px 0 10px rgba(0,0,0,0.4);
  z-index: 2
}

.sf-hero__wing--2 {
  background-color: #bb1818;
}

.sf-hero[data-animate-in-view]
.sf-hero__wing--1 {
  transform: translateX(-100%)
}

.sf-hero[data-animate-in-view]
.sf-hero__wing--2 {
  transform: translateX(100%)
}

.sf-hero__wing--1
.sf-hero__image {
  background:url(../assets/images/hero1.png) no-repeat;
  background-size: auto 100%;
  background-position: right bottom
}

.sf-hero__wing--2
.sf-hero__image {
  background:url(../assets/images/hero2.png) no-repeat;
  background-size: auto 100%;
  background-position: left bottom
}

.sf-hero__image {
  flex: 1;
}

.sf-hero__title {
  padding: 0.2rem 1rem;
  box-shadow: 0 -6px 10px rgba(0,0,0,0.4);
  z-index: 2
}

.sf-hero__wing--1 
.sf-hero__title {
  text-align: right;
}

