.sf-party-dr {
  background: linear-gradient(to right, #00476c 0,#00476c 50%,#b90303 50%, #b90303 100%);
  color: white;
}

.sf-party-d {
  background: #00476c
}

.sf-party-r {
  background: #b90303
}
