.sf-tile[class] {
  position: relative;
  max-width: 880px;
  margin: 0 auto 1.5rem;
  background: linear-gradient(to right, transparent 0%, white 30%, white 70%, transparent 100%);
}

.sf-tile > div {
  max-width: 680px;
  margin: 0 auto;
  background: none;
}

.sf-tile:after {
  content: "";
  display:block;
  position: absolute;
  z-index: 1;
  width: 120%;
  max-width: 99vw;
  transform: translate(-50%, 50%);
  height: 1.8rem;
 
  bottom: 0;
  pointer-events: none;
  left: 50%;
}

@supports (clip-path: polygon(0% 50%)){
  .sf-tile:after {
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 50%), radial-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0) 50%);
    background-size: 100% 100%, 38% 78%;
    background-position: 0 -10%, 50% -4%;
    background-repeat: no-repeat;
  }
}
