.sdc-site-charts__chart-wrap[data-type="pie"],
.sdc-site-charts__chart-wrap[data-type="donut"] {
  padding-bottom: 70%; }

.sdc-site-charts__chart[data-type="pie"] svg {
  transform: rotate(-90deg); }

.sdc-site-charts__chart[data-type="pie"][animated] .chart__point {
  transition: transform 1s; }

.sdc-site-charts__chart[data-type="donut"] svg {
  transform: rotate(-90deg); }

.sdc-site-charts__chart[data-type="donut"][animated] .chart__point {
  transition: transform 1s; }

.sdc-site-charts__chart-wrap[data-type="concentric"] {
  padding-bottom: 45%; }

.sdc-site-charts__chart[data-type="concentric"] svg {
  transform: rotate(-90deg); }

.sdc-site-charts__chart[data-type="concentric"][animated] .chart__point {
  transition: transform 1s; }

.sdc-site-charts__chart[animated] .sdc-site-charts__chart-bar {
  fill: #4a4a4a; }

.sdc-site-charts__chart[data-type="barvert"][animated] .sdc-site-charts__chart-bar {
  transition: height 1s; }

.sdc-site-charts__chart[data-type="barhori"][animated] .sdc-site-charts__chart-bar {
  transition: width 1s; }

.sdc-site-charts__chart[data-type="barvert"] .sdc-site-charts__chart-bars {
  transform: rotate(180deg);
  transform-origin: center; }

.sdc-site-charts__chart[data-type="line"] svg {
  background: #fff; }

html {
  font-family: 'Sky Text', Sans-serif; }

body {
  margin: 0;
  color: #4a4a4a;
  min-height: 100vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.sdc-site-charts__chart-container {
  text-align: center; }

.sdc-site-charts__chart-container + .sdc-site-charts__chart-container {
  margin-top: 2em; }

.sdc-site-charts__chart-wrap {
  font-size: 1.5em;
  position: relative;
  padding-bottom: 56.25%; }

.sdc-site-charts__chart {
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }

.sdc-site-charts__chart svg {
  max-width: 100%;
  height: 100%; }

.sdc-site-charts__chart-axis {
  stroke: #ccc; }

.sdc-site-charts__chart-mark {
  stroke: #ccc; }

.sdc-site-charts__grid-line {
  stroke: #eee; }

.sdc-site-charts__minor-grid-line {
  stroke: #fafafa; }

.sdc-site-charts__chart-axis-labels text {
  font-size: 0.75em;
  fill: #4a4a4a; }

.sdc-site-charts__chart-axis-labels[data-role="x-axis-labels"] text {
  text-anchor: middle; }

.sdc-site-charts__chart-axis-title text {
  font-size: 0.9em;
  fill: #4a4a4a; }

.sdc-site-charts__chart-title text {
  font-size: 1.1em;
  fill: #4a4a4a; }

.sdc-site-charts__chart-key-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 1em;
  font-size: calc(0.8em + 1vmin);
  text-align: left; }

.sdc-site-charts__chart-key-item {
  margin: 0 0 0.5em 0; }

.sdc-site-charts__chart-key-indicator {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em; }

.sdc-site-charts__chart-key-value {
  font-size: 0.9em;
  color: #999; }

@media all and (min-width: 600px) {
  .sdc-site-charts__chart-wrap[data-type="pie"],
  .sdc-site-charts__chart-wrap[data-type="donut"] {
  padding-bottom: 45%; }

  .sdc-site-charts__chart-container {
    display: flex; }
  .sdc-site-charts__chart-wrap {
    flex: 1;
    font-size: 1em; }
  .sdc-site-charts__chart-wrap:not(:only-child) .sdc-site-charts__chart {
    margin: initial;
    right: auto; }
  .sdc-site-charts__chart-key-list {
    min-width: 40%;
    margin: 2em;
    align-self: center; } }

/*# sourceMappingURL=output.css.map */