.sdc-sf-color-england {
  background-color: #0072CE
}

.sdc-sf-color-scotland {
  background-color: #003087
}

.sdc-sf-color-nireland {
  background-color: #005EB8
}

.sdc-sf-color-wales {
  background-color: #002060
}