.sdc-sf-fact {
  background: url(../img/bg-cube-2.png), url(../img/bg-cube-4.png) #005EB8;
  background-size: 40px auto;
  background-repeat: repeat-x;
  background-position: 0 0, 0 bottom;
  /* background: url(../img/bg-blue-1.png) #005EB8; */
  color: white;
  padding: calc(1em + 4vmin) 0;
  text-align: center;
}

.sdc-sf-fact h4 {
  font-size: calc(1em + 1vmin);
  margin: 0.25em 0 0.5em;
}

.sdc-sf-fact p {
  line-height: 1.4;
  max-width: 660px;
  margin: 0 auto;
  font-size: calc(12px + 1vmin);
}

.sdc-sf-fact .site-wrap {
  display: flex;
  align-items: center;
}

.sdc-sf-fact figure {
  width: calc(25px + 9vw);
  max-width: 150px;
  min-width: 60px;
  margin-right: calc(12px + 1vmin)
}

.sdc-sf-fact__body {
  flex: 1
}