.sdc-sf-fact {
  background: url(../img/bg-cube-2.png), url(../img/bg-cube-4.png) #005EB8;
  background-size: 40px auto;
  background-repeat: repeat-x;
  background-position: 0 0, 0 bottom;
  /* background: url(../img/bg-blue-1.png) #005EB8; */
  color: white;
  padding: calc(1em + 5vmin) 0;
  text-align: center;
}

.sdc-sf-fact h4 {
  font-size: calc(1em + 1vmin);
  margin: 0.25em 0 0.5em;
}

.sdc-sf-fact p {
  margin-bottom: 0.5em;
  line-height: 1.3
}