.sdc-sf-grid {
  display: grid;
  grid-gap: 1em;
  grid-gap: calc(2em + 1vmin)
}

.sdc-sf-grid__cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.sdc-sf-grid__cell 
.sdc-sf-value {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sdc-sf-grid--6 {
  grid-template-columns: repeat(3, 1fr);
}

.sdc-sf-grid--6 .sdc-sf-grid__cell {
  padding: 1em
} 

@supports (grid-gap: 1em){
  .sdc-sf-grid--6 .sdc-sf-grid__cell {
    padding: 0
  } 
}

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(1){
  -ms-grid-column: 1;
  -ms-grid-row: 1
} 

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(2){
  -ms-grid-column: 2;
  -ms-grid-row: 1
} 

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(3){
  -ms-grid-column: 3;
  -ms-grid-row: 1
} 

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(4){
  -ms-grid-column: 1;
  -ms-grid-row: 2
} 

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(5){
  -ms-grid-column: 2;
  -ms-grid-row: 2
}

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(6){
  -ms-grid-column: 3;
  -ms-grid-row: 2
}

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(7){
  -ms-grid-column: 1;
  -ms-grid-row: 3
} 

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(8){
  -ms-grid-column: 2;
  -ms-grid-row: 3
}

.sdc-sf-grid--6 .sdc-sf-grid__cell:nth-child(9){
  -ms-grid-column: 3;
  -ms-grid-row: 3
}


@media all and (max-width: 840px){
  .sdc-sf-grid--6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 500px){
  .sdc-sf-grid--6 {
    grid-template-columns: repeat(1, 1fr);
  }
}