.sdc-sf-header--h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  font-size: calc(13px + 3vmin);
  margin-bottom: 1em;
  margin-bottom: calc(18px + 2vmin)
}

.sdc-sf-header--h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  font-size: calc(1em + 1vmin);
  margin-bottom: 1em;
  margin-bottom: calc(12px + 1vmin);
  width: 100%
}

.sdc-sf-header span {
  display: block;
  font-size: 1rem;
  padding-top: 0.5em;
}