.sdc-sf-infographic {
  display: grid;
  padding: 0 5vw
}

.sdc-sf-infographic__cell {
  background-image: linear-gradient(#ccc,#ccc);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-clip: content-box;
  display: flex;
  align-items: center;
}

/* LAYOUT 1 */

@media all and (max-width: 600px){
  .sdc-sf-infographic--t1 {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell {
    padding: 1em 0;
    background-clip: border-box;
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(1),
  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(4),
  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(5) {
    grid-column: span 2
  }

}

@media all and (max-width: 680px) {
  .sdc-sf-infographic--t2 {
    display: block
  }

  .sdc-sf-infographic--t2
  .sdc-sf-infographic__cell {
    padding: calc(10px + 1vmin) 0;
    border-bottom: 1px solid #ccc;
  }
}

@media all and (min-width: 681px) {
  
  .sdc-sf-infographic--t2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }

  .sdc-sf-infographic--t2
  .sdc-sf-infographic__cell:nth-child(1) {
    background-size: 100% 1px;
    background-position: right calc(12px + 2vmin) bottom 0;
    background-clip: border-box; 
    border-right: 1px solid #ccc;
    padding: 0 calc(12px + 2vmin) calc(12px + 2vmin) 0;
  }

  .sdc-sf-infographic--t2
  .sdc-sf-infographic__cell:nth-child(2) {
    background-size: 100% 1px;
    background-position: left calc(12px + 2vmin) bottom 0;
    background-clip: border-box; 
    padding: 0 0 calc(12px + 2vmin) calc(12px + 2vmin);
  }

  .sdc-sf-infographic--t2
  .sdc-sf-infographic__cell:nth-child(3) {
    border-right: 1px solid #ccc;
    background: none;
    padding: calc(12px + 2vmin) calc(12px + 2vmin) 0 0;
  }

  .sdc-sf-infographic--t2
  .sdc-sf-infographic__cell:nth-child(4) {
    padding: calc(12px + 2vmin) 0 0 calc(12px + 2vmin);
    background: none;
  }

}

@media all and (min-width: 600px){
  .sdc-sf-infographic--t1 {
    grid-template-columns: min-content repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(1) {
    grid-column: 1/2;
    padding: 0 calc(12px + 2vmin) calc(12px + 2vmin) 0;
    background-position: right calc(12px + 2vmin) bottom 0;
    background-clip: border-box

  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(2) {
    border-left: 1px solid#ccc;
    background-position: -1000px;
    padding: 0 calc(12px + 2vmin) calc(12px + 2vmin);
    grid-column: 2/4
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(3) {
    background-size: 1px 100%;
    background-position: left 0 bottom calc(12px + 2vmin);
    padding: 0 0 calc(12px + 2vmin) calc(12px + 2vmin);
    background-clip: border-box;
    grid-column: 4/6

  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(4) {
    grid-column: 1/2;
    padding: calc(12px + 2vmin) calc(12px + 2vmin) 0 0;
    background: none;
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(5) {
    grid-column: 2/6;
    border-left: 1px solid#ccc;
    background-position: calc(12px + 2vmin) 0;
    padding: calc(12px + 2vmin) 0 0 calc(12px + 2vmin);
    background-clip: border-box
  }

}

@media all and (min-width: 600px) and (max-width: 880px){
  .sdc-sf-infographic--t1 {
    grid-template-columns: minmax(min-content, 3fr) 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(1) {
    grid-column: 1
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(2) {
    grid-column: 2;
    padding-right: 0;
    background-position: calc(12px + 2vmin) bottom;
    background-clip: border-box
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    padding-top: calc(12px + 2vmin);
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: calc(12px + 2vmin);
  }

  .sdc-sf-infographic--t1
  .sdc-sf-infographic__cell:nth-child(5) {
    grid-column: span 2;
    grid-row: 3;
    padding-left: 0;
    border: 0;
    background-position: 0 0
  }
}


/* INFOGRAPHIC ITEM */
.sdc-sf-infographic-item {
  display: flex;
  line-height: 1;
  align-items: center;
  text-align: right;
  width: 100%;
}

.sdc-sf-infographic-item__icon {
  width: 90px;
  position: relative;
}

@media all and (max-width: 600px){
  .sdc-sf-infographic-item__icon {
    width: 70px;
  }
}

.sdc-sf-infographic-item__number {
  flex: 1;
  text-align: center
}

.sdc-sf-infographic-item__text {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center
}

.sdc-sf-infographic-item__text:not(:only-child){
  margin-top: 3px
}

.sdc-sf-infographic-item--s2 {
  font-size: calc(1.5em + 5vmin)
}

.sdc-sf-infographic-item--s3 {
  font-size: calc(12px + 5vmin)
}

.sdc-sf-infographic-item__text--s2 {
  font-size: calc(1rem + 1vmin)
}

.sdc-sf-infographic-item--right {
  direction: rtl;
  text-align: left
}

.sdc-sf-infographic-item--right
.sdc-sf-infographic-item__number {
  padding: 0 36px 0 0
}

.sdc-sf-infographic-item--top {
  flex-direction: column;
  text-align: center;
}
