.sdc-sf-panel {
  padding: 2em 0;
  padding: calc(1em + 3vmin) 0;
  position: relative;
  background: white;
  /* background: url(../img/bg-white-1.png) white; */;
}

.sdc-sf-panel--no-padding[class]{
  /* padding: 0; */
}

.sdc-sf-panel--shaded {
  /* background: #c8d1d8;
  background: white; */
}

.sdc-sf-panel-con {
  
}

.sdc-sf-panel:last-child,
.sdc-sf-panel > .site-wrap > *:last-child {
  margin-bottom: 0!important
}