.sdc-sf-panel {
  padding: 2em 0;
  padding: calc(1em + 3vmin) 0;
  position: relative;
}

.sdc-sf-panel--no-padding[class]{
  /* padding: 0; */
}

.sdc-sf-panel--shaded {
  background: #dedddd
}

.sdc-sf-panel-con {
  
}

.sdc-sf-panel:last-child,
.sdc-sf-panel > .site-wrap > *:last-child {
  margin-bottom: 0!important
}