.sdc-sf-title-header {
  width: 100%;
  height: 60vh;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.sdc-sf-title-header__headline {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  will-change: transform
}

.sdc-sf-title-header__headline h1 {
  font-size: calc(2em + 10vmin);
  color: white;
}

.sdc-sf-title-header__headline h1 span {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400
}

.sdc-sf-title-header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  will-change: transform
}

.sdc-sf-title-header__image img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

@supports(object-fit: cover){
  .sdc-sf-title-header__image img {
    height: 120%;
  }
}


/* TITLE PAGE */
.sdc-sf-title-page {
  position: relative;
}

.sdc-sf-title-page__slide.site-wrap  {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.sdc-sf-title-page__slide h2 {
  font-weight: 400;
  font-size: calc(2em + 4vmin);
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.sdc-sf-title-page__slide img {
  width: 100%;
}

@media all and (min-width: 600px){

.sdc-sf-title-page__slide-mask {
  position: absolute;
  height: 100vh;
  width: 100%;
  clip: rect(auto,auto,auto,auto);
  overflow-y: scroll;
}

.sdc-sf-title-page__slide-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #222;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 0;
  background-size: cover;
  z-index: 0;
  transform: translate3d(0,0,0);
}

.sdc-sf-title-page__slide-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
}

}

@supports (object-fit: cover){
  .sdc-sf-title-page__slide img {
    height: 100vh;
    object-fit: cover
  }
}

@media all and (max-width: 599px){
  .sdc-sf-title-page__slide {
    max-height: 400px;
    position: relative;
  }

  .sdc-sf-title-page__slide img {
    max-height: 400px;
  }

  .sdc-sf-title-page__slide + 
  .sdc-sf-title-page__slide {
    position: absolute;
    top: 0;
  }

  .sdc-sf-title-page__slide.site-wrap  {
    align-items: center;
  }
  

}