html {
  font-family: 'Sky Text', Sans-seif
}

body {
  margin: 0;
  color: #4a4a4a;
  min-height: 100vh;
}

.pie-factory {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pie-factory__body {
  display: flex;
  flex: 1;
}

.pie-factory h2,
.pie-factory h3 {
  font-weight: normal;
}

.pie-factory__preview {
  flex: 1;
  text-align: center;
  background: #fafafa;
  padding: 1.5em;
  background: #fafafa;
  position: relative;
}

.pie-factory__preview:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.pie-factory__header {
  margin-bottom: 0;
  padding: 1.5em;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
  text-align: center;
}

.pie-factory__preview .chart {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
}

.pie-factory__options {
  max-width: 300px;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  background: #4a4a4a;
}

.pie-factory__button {
  font-size: 1em;
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.pie-factory__button:hover {
  background: rgba(255,255,255,0.1);
}

.pie-factory__button[active-skin] {
  border-color: #3E6990;
  background: #3E6990;
  color: #fff;
}

.pie-factory__options .pie-factory__button {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.chart__key-list {
  text-align: left;
  list-style: none;
  padding: 0;
}

.chart__key-indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}

.chart[data-type="pie"] .chart__body {
  display: inline-block;
  width: 100%;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.chart[data-type="pie"] .chart__body:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.chart--linear:after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  background: #fff;
  border-radius: 50%;
}

.chart[data-type="pie"] .chart__point {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
}

.chart__pie-mask,
.chart__pie-segment-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.chart[animated] .chart__point,
.chart[animated] .chart__pie-mask,
.chart[animated] .chart__pie-segment-fill {
  transition: transform 1s;
  will-change: transform;
  backface-visibility: hidden;
}

.chart__pie-mask {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.chart__pie-segment-fill {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
