html {
  font-family: 'Sky Text', Sans-seif
}

body {
  margin: 0;
  color: #4a4a4a;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.charts {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.charts__body {
  display: flex;
  flex: 1;
}

.charts h2,
.charts h3 {
  font-weight: normal;
}

.charts__preview {
  flex: 1;
  text-align: center;
  background: #fafafa;
  padding: 1.5em;
  background: #fafafa;
  position: relative;
}

.charts__header {
  margin-bottom: 0;
  padding: 2.5em 0;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
  text-align: center;
}

.charts__options {
  max-width: 300px;
  width: 100%;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  background: #4a4a4a;
}

.charts__options h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.charts__button {
  font-size: 1em;
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.charts__button:hover {
  background: rgba(255,255,255,0.1);
}

.charts__button[active] {
  border-color: #3E6990;
  background: #3E6990;
  color: #fff;
}

.charts__options .charts__button {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.charts__toggle-switch {
  margin-bottom: 2em;
}

.charts__toggle-switch .charts__button {
  border: 2px solid #3E6990;
}

.charts__toggle-switch .charts__button:not([active]) {
  color: #3E6990;
}

.charts__toggle-switch .charts__button:first-of-type {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.charts__toggle-switch .charts__button:last-of-type {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0

}

.charts__select-box {
  font-size: 1.2em;
  border: 2px solid #eee;
  border-radius: 4px;
  line-height: 2.75em;
  position: relative;
  list-style: none;
  padding: 2.75em 0 0 0;
  text-align: left;
}

.charts__select-box[closed] {
  height: 2.75em;
  overflow: hidden;
  cursor: pointer;
  background: none;
}

.charts__select-box[closed]:hover {
  background: rgba(255,255,255,0.1);

}

.charts__select-box:after {
  content: url(../img/up-arrow.svg);
  display: block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  pointer-events: none;
}

.charts__select-box[closed]:after {
  content: url(../img/down-arrow.svg);
  top: 0.45em;
}

.charts__select-box-item {
  display: block;
  height: 2.75em;
  padding: 0 1em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.charts__select-box-item[active] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.charts__select-box-item:hover,
.charts__select-box:not([closed]) .charts__select-box-item[active] {
  background: rgba(255,255,255,0.1);
}

.charts__accordion {
  border: 2px solid #eee;
  border-radius: 4px;
  text-align: left;
  overflow: hidden;
}

.charts__accordion:not(:last-of-type) {
  margin-bottom: 1em;
}

.charts__accordion-heading {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 2.75em;
  padding: 0 1em;
  margin: 0;
  position: relative;
}

.charts__accordion-heading:after {
  content: url(../img/up-arrow.svg);
  display: block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  pointer-events: none;
}

.charts__accordion[closed] .charts__accordion-heading:after {
  content: url(../img/down-arrow.svg);
  top: 0.45em;
}

.charts__accordion-list {
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid #eee;
}

.charts__accordion[closed] .charts__accordion-list {
  height: 0;
  border: 0;
}

.charts__accordion-item {
  display: block;
  line-height: 2.75em;
  padding: 0 1em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.charts__accordion-item:hover,
.charts__accordion-item[active],
.charts__accordion[closed] .charts__accordion-heading:hover {
  background: rgba(255,255,255,0.1);
}

.charts__accordion[active] .charts__accordion-heading,
.charts__accordion[active] .charts__accordion-heading:hover {
  background: #3E6990;
  color: #fff;
}

.charts__option {
  margin-bottom: 1em;
}

.chart__key-list {
  text-align: left;
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.chart__key-item {
  margin: 0 0 0.5em 0;
}

.chart__key-indicator {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.chart__header {
  width: 100%;
  margin-bottom: 2em;
}

.charts .chart {
  max-width: 600px;
  margin: 0 auto;
}

.charts--mobile .chart {
  max-width: 400px;
  margin: 0 auto;
}

.charts--mobile .chart__body,
.charts--mobile .chart__info {
  flex: 1 0 100%;
  max-width: 100%!important;
}

.charts .chart {
  display: flex;
  flex-wrap: wrap;
}

.chart__body {
  flex: 1 0 60%;
  margin: 0 2em 2em 0;
}

.chart[data-type="pie"] .chart__body {
  display: inline-block;
  width: 100%;
  max-width: 60%;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.chart[data-type="pie"] .chart__body:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.chart--linear:after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  background: #fff;
  border-radius: 50%;
}

.chart[data-type="pie"] .chart__point {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
}

.chart[data-type="barvert"] .chart__body {
  display: table;
  width: 100%;
  max-width: 60%;
  height: 300px;
  overflow: hidden;
  table-layout: fixed;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  background: #fff;
}

.chart[data-type="barvert"] .chart__point {
  display: table-cell;
  position: relative;
}

.chart[data-type="barvert"] .chart__bar {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1em;
  width: 2em;
  height: 100%;
}

.chart[data-type="barhori"] .chart__body {
  width: 100%;
  max-width: 60%;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 1em;
  background: #fff;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.chart[data-type="barhori"] .chart__point {
  flex: 1;
  position: relative;
}

.chart[data-type="barhori"] .chart__bar {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -1em;
  height: 2em;
  width: 100%;
}

.chart__pie-mask,
.chart__pie-segment-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.chart[data-type="pie"][animated] .chart__point,
.chart[data-type="pie"][animated] .chart__pie-mask,
.chart[data-type="pie"][animated] .chart__pie-segment-fill,
.chart[data-type="barvert"][animated] .chart__bar,
.chart[data-type="barhori"][animated] .chart__bar {
  transition: transform 1s;
  will-change: transform;
  backface-visibility: hidden;
}

.chart__pie-mask {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.chart__pie-segment-fill {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
