@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pie-container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2em;
}

.pie {
  width: 100%;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.pie:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.pie--linear:after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  background: #eee;
  border-radius: 50%;
}

.pie__segment {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: transform 1s;
  will-change: transform;
  backface-visibility: hidden;
  opacity: 0;
}

.pie__mask,
.pie__segment-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: transform 1s;
  will-change: transform;
  backface-visibility: hidden;
}

.pie__mask {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.pie__segment-fill {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
