/* sdc-site-component-header */
/* ========= */
/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */
/* COMPONENT */
/* The main structural styles to create a vanilla version of this component */
/* ========= */
[class^="sdc-site-component-header--"] {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1em; }

.sdc-site-component-header--h1 {
  font-size: var(--display-2); }

.sdc-site-component-header--h2 {
  font-size: var(--display-3); }

.sdc-site-component-header--h3 {
  font-size: var(--display-4);
  text-align: center; }

.sdc-site-component-header--h4 {
  font-size: var(--display-5); }

.sdc-site-component-header--h5 {
  font-size: var(--display-6); }

.sdc-site-component-header__body {
  display: block; }

.sdc-site-component-header__logo {
  height: 0.8em; }

.sdc-site-component-header--h1,
.sdc-site-component-header__logo {
  height: 1em; }

.sdc-article-header--feature .sdc-site-component-header--h2 {
  color: #fff; }

@media all and (max-width: 480px) {
  .sdc-site-component-header__body[data-short-text] > [data-role="short-text-target"] {
    display: none; }
  .sdc-site-component-header__body[data-short-text]:before {
    content: attr(data-short-text); } }
