/*
 *  This file is used for previewing locally using the toolbelt.
 *  The actual entry point for your component styles are in
 *  /styles/components/sdc-article-live-on-sky.scss
 *
 *  To reference project-wide styles, sdc-project-base should
 *  be added to the component npm devDependencies and imported:
 *  @import "sdc-project-base/css/base/core/_start.scss";
 *
 *  Any other files referenced in here will not be imported
 *  when the component is consumed by your app project.
 */
@import url(../node_modules/sdc-project-base/css/base/core/vars/_vars-global.css);
@import url(../node_modules/sdc-project-base/css/base/core/vars/_vars-uk-sport.css);
/* START/RESET */
/* ========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; }

html {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink; }

body[data-body-locked='true'] {
  overflow: hidden;
  width: 100%; }

img {
  max-width: 100%;
  opacity: 1;
  border: 0; }

a,
svg {
  color: inherit;
  fill: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

@media (hover: none) {
  a[href]:hover {
    text-decoration: none; } }

:focus {
  outline-offset: -2px; }

ul {
  list-style: none; }

@font-face {
  font-family: 'Sky Text';
  src: url("/node_modules/sdc-project-base/fonts/sky-regular.woff") format("woff");
  font-display: "optional"; }

@font-face {
  font-family: 'Sky Text';
  src: url("/node_modules/sdc-project-base/fonts/sky-medium.woff") format("woff");
  font-weight: bold;
  font-display: "optional"; }

@font-face {
  font-family: 'Sky Display';
  src: url("/node_modules/sdc-project-base/fonts/sky-display-medium.woff") format("woff");
  font-display: "optional"; }

@font-face {
  font-family: "Sky Football";
  src: url("/node_modules/sdc-project-base/fonts/sky-football.woff") format("woff");
  font-weight: 200;
  font-display: "optional"; }

@font-face {
  font-family: "Sky Premier League";
  src: url("/node_modules/sdc-project-base/fonts/sky-premier-league.woff") format("woff");
  font-weight: 200;
  font-display: "optional"; }

@font-face {
  font-family: "Sky Cricket";
  src: url("/node_modules/sdc-project-base/fonts/sky-cricket.woff") format("woff");
  font-weight: 200;
  font-display: "optional"; }

@font-face {
  font-family: "Sky F1";
  src: url("/node_modules/sdc-project-base/fonts/sky-f1.woff") format("woff");
  font-weight: 200;
  font-display: "optional"; }

@font-face {
  font-family: "Sky Golf";
  src: url("/node_modules/sdc-project-base/fonts/sky-golf.woff") format("woff");
  font-weight: 200;
  font-display: "optional"; }

/* PROJECT COLOR PALETTE */
/* ========= */
/* primary */
/* ========= */
/* backgrounds */
/* ========= */
/* text */
/* ========= */
/* keylines */
/* ========= */
/* gradients */
/* ========= */
/* significance */
/* ========= */
/* SDC project settings
  =========================================== */
/* AMP Specific settings
  =========================================== */
/* SDC site layout
  =========================================== */
@media all and (max-width: 939px) {
  .site-wrap-basic {
    width: 100%;
    max-width: var(--site-width-inner);
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.site-wrap {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto; }

.site-wrap-padding, .section-wrap__article-column {
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter); }

.site-indent[class] {
  padding-left: var(--component-padding);
  padding-right: var(--component-padding); }

.site-component-vertical-margin {
  margin-bottom: var(--component-margin); }

.site-component-vertical-margin-negative {
  margin-top: calc(var(--component-margin) * -1); }

.site-component-vertical-margin-l {
  margin-bottom: var(--group-margin); }

.site-component-vertical-margin-s {
  margin-bottom: var(--component-gap); }

.section-wrap {
  background: white; }
  .section-wrap > .site-component-vertical-margin:last-child {
    margin-bottom: 0;
    padding-bottom: var(--component-margin); }

.section-wrap--padding {
  padding: var(--component-margin) 0; }

.section-wrap--shade {
  padding: var(--group-margin) 0; }

.section-wrap__article-column .sdc-site-component-header__body {
  padding: 0; }

@media all and (max-width: 480px) {
  .site-wrap--mobile-edge {
    padding-left: 0;
    padding-right: 0; }
  .site-wrap.sdc-site-tiles__inner {
    padding-left: 0;
    padding-right: 0; } }

/* Glints
  =========================================== */
.glints-box, .sdc-site-live-on-sky:not(.sdc-article-widget) {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  background-clip: padding-box;
  position: relative; }

.glints-box:before, .sdc-site-live-on-sky:not(.sdc-article-widget):before {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px; }

.sdc-site-live-on-sky:not(.sdc-article-widget):after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: -15px;
  left: -5px;
  bottom: -15px;
  right: -5px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.15) 38%, rgba(255, 255, 255, 0) 50%), radial-gradient(rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.15) 38%, rgba(255, 255, 255, 0) 50%), radial-gradient(rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.35) 35%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 50%), radial-gradient(rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.35) 35%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 50%);
  background-repeat: no-repeat;
  background-position: left -120px top 6px, right -120px bottom 5px, left 0 top -1px, right 0 bottom -2px;
  background-size: 300px 14px, 300px 14px, 60px 28px, 60px 28px;
  opacity: 0;
  transition: background-position 0.5s ease-out, opacity 0.5s ease-out;
  will-change: background-position, opacity; }

.sdc-site-live-on-sky:not(.sdc-article-widget):hover:after {
  background-position: left calc(100% + 67px) top 6px, right calc(100% + 67px) bottom 5px, left calc(100% - 50px) top -1px, right calc(100% - 50px) bottom -1px;
  opacity: 0.9; }

.glints-wings {
  transform-style: preserve-3d;
  position: relative;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 0;
  border-bottom: 0;
  background-clip: padding-box;
  box-shadow: none;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.1), -4px 0 2px rgba(0, 0, 0, 0.1); }

@supports (transform-style: preserve-3d) {
  .glints-wings:before {
    background: rgba(255, 255, 255, 0.15); } }

.glints-wings:before {
  content: "";
  position: absolute;
  top: 0;
  height: calc(100%);
  left: -12px;
  width: calc(100% + 24px);
  transform: translateZ(-1px);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.47) 9%, rgba(255, 255, 255, 0.57) 26%, rgba(255, 255, 255, 0.8) 44%, rgba(255, 255, 255, 0.15)) 1;
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid;
  box-shadow: none;
  box-sizing: border-box; }

.glints-wings:after {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: calc(100% + 24px);
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), linear-gradient(166deg, rgba(255, 255, 255, 0.09) 45%, rgba(255, 255, 255, 0) 45%);
  background-size: 5px 100%, 5px 100%, 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 0, 7px 0, 0 0; }

.glints-wings > * {
  transform: translateZ(1px); }

.glints-wings--right {
  border-left: 0; }

.glints-wings--right:before {
  left: 0;
  width: calc(100% + 12px); }

.glints-wings--right:after {
  left: 0;
  width: calc(100% + 12px);
  background-size: 5px 100%, 0 0, 100%; }

@media (pointer: coarse) {
  .sdc-site-live-on-sky:not(.sdc-article-widget):after {
    content: none; } }

@supports (pointer-events: none) {
  .sdc-site-live-on-sky:not(.sdc-article-widget):after {
    z-index: 5; } }

.glints-box-padding {
  padding: var(--component-padding); }

@media all and (max-width: 480px) {
  .sdc-site-live-on-sky[class]:not(.sdc-article-widget) {
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background-color: white;
    background-image: none; }
  .sdc-site-live-on-sky:not(.sdc-article-widget):after,
  .sdc-site-live-on-sky:not(.sdc-article-widget):before {
    content: none; }
  .glints-wings {
    border-left-width: 8px;
    border-right-width: 8px; }
  .glints-wings:before {
    left: -8px;
    width: calc(100% + 16px); }
  .glints-wings:after {
    left: -8px;
    width: calc(100% + 16px);
    background-position: calc(100% - 4px) 0, 4px 0, 0 0; }
  .glints-wings--right:before {
    left: 0;
    width: calc(100% + 8px); }
  .glints-wings--right:after {
    left: 0;
    width: calc(100% + 8px); } }

/* SDC site shared ui skin
  =========================================== */
.sdc-site-live-on-sky__links {
  padding: 0;
  list-style: none;
  font-size: 16px;
  color: #4a4a4a; }

.sdc-site-live-on-sky__links > li:not(:last-of-type) {
  margin-bottom: 0.25em; }

.sdc-site-live-on-sky__links > li > a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0;
  line-height: 1;
  vertical-align: middle; }

.sdc-site-live-on-sky__links > li > a:hover {
  background: none;
  text-decoration: underline;
  text-decoration-skip: ink; }

.sdc-site-live-on-sky__links > li > a:after {
  content: "";
  width: 0.35em;
  height: 0.35em;
  display: inline-block;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  transform: rotate(-45deg) translateY(-1px);
  opacity: 0.9;
  margin-left: 0.25em; }

.sdc-ui-external-link:after {
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.2em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNNC43OTcgNy45N0wxMi42NS4xMmwuNDguNDc4TDUuMjc1IDguNDV6Ii8+PHBhdGggZD0iTTEzLjIgNC45MWgtLjY2M1YuNzUyaC00LjI2di0uNjVIMTMuMm0tMS4zMSAxMi44M0guMTA2VjEuMzg2SDUuOTl2LjY1SC43NVYxMi4zaDEwLjQ4VjcuMTY2aC42NjMiLz48L2c+PC9zdmc+Cg==) no-repeat;
  background-size: 100%;
  opacity: 0.5; }

.sdc-site-live-on-sky__category[class] {
  font-size: 15px;
  color: #0a1388; }

.sdc-article-significance--exclusive[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--breaking[class] {
  color: #000000;
  background: #ffe001; }

.sdc-article-significance--sponsored[class] {
  color: #707070; }

.sdc-article-significance--live[class] {
  color: #ffffff;
  background: #d0021b; }

.sdc-article-significance--analysis[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--transfer[class] {
  color: #ffe001;
  background: #000000; }

.sdc-article-significance--update[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--eyewitness[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--opinion[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--explainer[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-site-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000005; }

.sdc-site-modal[aria-hidden="true"] {
  display: none; }

.sdc-site-modal[fading] .sdc-site-modal__backing {
  opacity: 0; }

.sdc-site-modal[fading] .sdc-site-modal__message {
  transform: scale(0.75); }

.sdc-site-modal__backing {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1em;
  opacity: 1;
  transition: opacity .33s; }
  .sdc-site-modal__backing:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  @media all and (min-width: 500px) {
    .sdc-site-modal__backing {
      padding: 1.5em; } }
  @media all and (min-width: 800px) {
    .sdc-site-modal__backing {
      padding: 2em; } }

.sdc-site-modal__backing-safari {
  padding-top: 2em; }

.sdc-site-modal__message {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 98%;
  left: -1%;
  max-width: 464px;
  max-height: calc(100vh - 4em);
  padding: 1.5em;
  background: #fff;
  border-radius: .4em;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.25);
  transform: scale(1);
  transition: transform .33s; }
  @media all and (min-width: 800px) {
    .sdc-site-modal__message {
      padding: 2em; } }

.sdc-site-modal__message-safari {
  vertical-align: inherit;
  max-height: calc(100vh - 8.5em); }

.sdc-site-modal__message-content {
  overflow: auto;
  max-height: calc(100vh - 6em); }
  .sdc-site-modal__message-content *:last-child {
    margin-bottom: 0; }

.sdc-site-modal__message-content-safari {
  max-height: calc(100vh - 10.5em); }

.sdc-site-modal__content-section + .sdc-site-modal__content-section {
  margin-top: 2em; }

.sdc-site-modal__message-content h4 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 .5em 0;
  color: #4a4a4a;
  text-align: left; }
  @media all and (min-width: 800px) {
    .sdc-site-modal__message-content h4 {
      font-size: 1.7em; } }

.sdc-site-modal__message-content p {
  font-size: 1em;
  line-height: 1.5em;
  color: #4a4a4a;
  text-align: left;
  margin-bottom: 1.25em; }
  @media all and (min-width: 800px) {
    .sdc-site-modal__message-content p {
      font-size: 1.125em; } }

.sdc-site-modal__button {
  display: block;
  line-height: 1.4em;
  padding: .5em 1em .5em .8em;
  background-color: #214cb8;
  margin: 0 auto;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer; }
  .sdc-site-modal__button:hover {
    opacity: .75;
    text-decoration: none; }

.sdc-site-modal__button + .sdc-site-modal__button {
  margin-top: 1em; }

.sdc-site-modal__close-button {
  position: absolute;
  right: .25em;
  top: .25em;
  font: inherit;
  background: none;
  width: 2em;
  height: 2em;
  padding: .25em;
  border: 0;
  overflow: hidden;
  cursor: pointer; }
  .sdc-site-modal__close-button:hover {
    opacity: .5; }
  .sdc-site-modal__close-button svg {
    fill: #707070; }

.html--instant-scroll {
  scroll-behavior: auto; }

.body--freeze {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-attachment: fixed; }

.js .sdc-site-modal__content[aria-hidden="true"] {
  display: none; }

/* SDC site live on sky skin
  =========================================== */
.sdc-site-live-on-sky {
  font-size: var(--component-text);
  display: flex; }

.sdc-site-live-on-sky.sdc-site-tiles__item {
  padding: 0 !important; }

.sdc-site-live-on-sky__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: var(--component-padding); }

.sdc-site-live-on-sky__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.sdc-site-live-on-sky__col {
  display: flex;
  flex-direction: column;
  position: relative; }

.sdc-site-live-on-sky__col1 {
  padding-bottom: var(--component-padding); }

.sdc-site-live-on-sky__col2 {
  justify-content: flex-end; }

.sdc-site-live-on-sky__col > *:not(:last-child) {
  padding-bottom: 1em; }

.sdc-site-live-on-sky__category[class] {
  margin-bottom: auto;
  position: relative;
  z-index: 6;
  font-size: var(--label-text);
  color: var(--link-color); }

.sdc-site-live-on-sky__badges[class] {
  height: 2.5em;
  position: relative;
  margin-bottom: 0.5em; }

.sdc-site-live-on-sky__badge {
  position: absolute;
  height: 100%; }

.sdc-site-live-on-sky__badge + .sdc-site-live-on-sky__badge {
  transform: translateX(calc(100% + 2%)); }

.sdc-site-live-on-sky__title {
  font-size: var(--display-3);
  line-height: 1.1; }

.sdc-site-live-on-sky__time[class] {
  padding-bottom: 0.5em; }

.sdc-site-live-on-sky__logo {
  height: 20px;
  margin-bottom: var(--component-gap); }

.sdc-site-live-on-sky__links {
  color: inherit;
  position: relative;
  z-index: 5;
  margin-bottom: 0.25em;
  display: flex;
  flex-wrap: wrap; }

.sdc-site-live-on-sky__links--non-clickable {
  z-index: 2; }

.sdc-site-live-on-sky__link:before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  height: 400%;
  width: 200%;
  z-index: 5;
  opacity: 1; }

.sdc-site-live-on-sky__links-item:not(:last-child) {
  margin-right: var(--component-gap); }

.sdc-site-live-on-sky__wrap:before {
  content: "";
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.33s opacity; }

.sdc-site-live-on-sky:hover .sdc-site-live-on-sky__wrap:before {
  opacity: 1; }

.sdc-site-live-on-sky__status-live {
  text-transform: uppercase;
  font-size: var(--label-text);
  font-weight: 700;
  line-height: 1.08;
  display: inline-table;
  padding: 2px 5px 1px 6px !important;
  margin: 0 6px 2px 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  vertical-align: middle;
  background-color: var(--live);
  color: white; }

@media all and (min-width: 600px) {
  .sdc-article-widget .sdc-site-live-on-sky__badges[class] {
    position: absolute;
    right: 0;
    top: 1.8em;
    width: 7.1em;
    height: 3.5em; }
  .sdc-article-widget .sdc-site-live-on-sky__title {
    padding-right: var(--component-padding); }
  .sdc-article-widget .sdc-site-live-on-sky__action {
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.4em; } }

.sdc-site-live-on-sky[data-livestream="true"][class] .sdc-site-live-on-sky__inner {
  background: #002672;
  color: #fff; }

.sdc-site-live-on-sky[data-livestream="true"][class] .sdc-site-live-on-sky__category {
  color: #fff; }

.sdc-site-live-on-sky[data-livestream="true"][class] .sdc-site-live-on-sky__wrap[class]:before {
  background: radial-gradient(circle at center, #0037a5 0, #00153f 100%); }

.sdc-site-live-on-sky--default[class] .sdc-site-live-on-sky__title {
  font-family: inherit; }

.sdc-site-live-on-sky--default[class] .sdc-site-live-on-sky__category-link {
  color: inherit; }

.sdc-site-live-on-sky--default[class] .sdc-site-live-on-sky__inner {
  background: radial-gradient(circle at center, #ffffff 0, #f7f7f7 100%);
  color: inherit; }

.sdc-site-live-on-sky--default[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: radial-gradient(circle at center, #fff 0, #e8e7ed 100%); }

.sdc-site-live-on-sky--default[class] .sdc-site-live-on-sky--has-link:hover,
.sdc-site-live-on-sky--default[class] .sdc-site-live-on-sky--has-link:hover .sdc-site-live-on-sky__category {
  color: inherit; }

.sdc-article-widget.sdc-site-live-on-sky--default[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--football[class] .sdc-site-live-on-sky__title {
  font-family: var(--sports-branding-football-font);
  font-weight: normal; }

.sdc-site-live-on-sky--football[class] .sdc-site-live-on-sky__category-link {
  color: var(--sports-branding-football-color); }

.sdc-site-live-on-sky--football[class] .sdc-site-live-on-sky__inner {
  background: var(--sports-branding-football-primary-gradient);
  color: var(--sports-branding-football-color); }

.sdc-site-live-on-sky--football[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--football[class] .sdc-site-live-on-sky--has-link:hover,
.sdc-site-live-on-sky--football[class] .sdc-site-live-on-sky--has-link:hover .sdc-site-live-on-sky__category {
  color: inherit; }

.sdc-article-widget.sdc-site-live-on-sky--football[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--premierleague[class] .sdc-site-live-on-sky__title {
  font-family: var(--sports-branding-premier-league-font);
  font-weight: normal; }

.sdc-site-live-on-sky--premierleague[class] .sdc-site-live-on-sky__category-link {
  color: var(--sports-branding-premier-league-color); }

.sdc-site-live-on-sky--premierleague[class] .sdc-site-live-on-sky__inner {
  background: var(--sports-branding-premier-league-gradient);
  color: var(--sports-branding-premier-league-color); }

.sdc-site-live-on-sky--premierleague[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--premierleague[class] .sdc-site-live-on-sky--has-link:hover,
.sdc-site-live-on-sky--premierleague[class] .sdc-site-live-on-sky--has-link:hover .sdc-site-live-on-sky__category {
  color: inherit; }

.sdc-article-widget.sdc-site-live-on-sky--premierleague[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--skysports[class] .sdc-site-live-on-sky__title {
  font-family: var(--sports-branding-skysports-font);
  font-weight: normal; }

.sdc-site-live-on-sky--skysports[class] .sdc-site-live-on-sky__category-link {
  color: var(--sports-branding-skysports-color); }

.sdc-site-live-on-sky--skysports[class] .sdc-site-live-on-sky__inner {
  background: var(--sports-branding-skysports-primary);
  color: var(--sports-branding-skysports-color); }

.sdc-site-live-on-sky--skysports[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--skysports[class] .sdc-site-live-on-sky--has-link:hover,
.sdc-site-live-on-sky--skysports[class] .sdc-site-live-on-sky--has-link:hover .sdc-site-live-on-sky__category {
  color: inherit; }

.sdc-article-widget.sdc-site-live-on-sky--skysports[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--skysports-light[class] .sdc-site-live-on-sky__title {
  font-family: var(--sports-branding-skysports-font);
  font-weight: normal; }

.sdc-site-live-on-sky--skysports-light[class] .sdc-site-live-on-sky__category-link {
  color: var(--sports-branding-skysports-light-color); }

.sdc-site-live-on-sky--skysports-light[class] .sdc-site-live-on-sky__inner {
  background: var(--sports-branding-skysports-light-primary);
  color: var(--sports-branding-skysports-light-color); }

.sdc-site-live-on-sky--skysports-light[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

.sdc-site-live-on-sky--skysports-light[class] .sdc-site-live-on-sky--has-link:hover,
.sdc-site-live-on-sky--skysports-light[class] .sdc-site-live-on-sky--has-link:hover .sdc-site-live-on-sky__category {
  color: inherit; }

.sdc-article-widget.sdc-site-live-on-sky--skysports-light[class]:hover .sdc-site-live-on-sky__wrap:before {
  background: inherit; }

body {
  max-width: 730px;
  padding: 1em calc(12px + 1vw);
  margin: 0 auto;
  background: #eee; }

.sdc-site-live-on-sky:not(.sdc-article-widget) {
  max-width: 300px;
  margin: 0 auto; }

.sdc-site-live-on-sky:nth-of-type(3) {
  min-height: 600px; }
