@font-face {
  font-family: 'Sky Text'; 
  src: url("sky-regular.woff") format('woff'); 
  font-weight: normal
}

:root {
  --article-vertical-margin: calc(14.8px + 2vw);
  --article-link-color:#3157a1;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Sky Text';
}

.wrap {
  max-width: 976px;
  margin: 0 auto;
  padding: 0 calc(12px + 1vw);
}

.wrap--narrow {
  max-width: 780px;
}

.sdc-article-head {
  font-size: calc(11px + 1.6vw);
  line-height: 1.5;
  margin-bottom: var(--article-vertical-margin);
}

.sdc-article-head__foot {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sdc-article-body {
  font-size: calc(14.8px + 1vw);
  line-height: 1.5;
  margin-bottom: var(--article-vertical-margin);
}

@media all and (min-width: 620px) {
  .sdc-article-head {
    font-size: 23.3px;
  }

  .sdc-article-body {
    font-size: 21px;
  }

  :root {
    --article-vertical-margin: 28.2px
  }
}

.sdc-article-head > *:not(:last-child),
.sdc-article-head__body > *:not(:last-child)  {
  margin-bottom: var(--article-vertical-margin);
}

.sdc-article-headline {
  font-size: 2em;
  line-height: 1.2;
  font-weight: normal;
  max-width: 800px;
}

.sdc-article-subheadline {
  font-size: calc(3px + 0.9em);
  line-height: 1.4;
  font-weight: normal;
  max-width: 800px
}

.sdc-article-byline {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.sdc-article-byline img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: absolute;
  border-radius: 50%;
}

.sdc-article-byline img ~ strong {
  padding-left: 60px;
  font-size: 18px;
  line-height: 1;
  margin: 0.2em 0;
}

.sdc-article-byline img ~ span {
  padding-left: 60px;
  line-height: 1;
  margin: 0.2em 0;
}

.sdc-article-byline strong {
  width: calc(100% - 60px);
  font-weight: bold;
}

.sdc-article-byline a {
  color: var(--article-link-color);
  text-decoration: none
}

.sdc-article-byline a:hover {
  text-decoration: underline
}

.sdc-article-byline span {
  color: #aaa;
  font-size: 16px;
  display: block;
}

.sdc-article-time {
  font-size: 16px;
  padding: 3px 12px 3px 0
}

.sdc-article-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0;
}

.sdc-article-tags a {
  margin: 2px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 10px;
  line-height: 1;
  border-radius: 10px;
  background: #eee;
  color: #444;
  white-space: nowrap;
}

.sdc-article-media img {
  display: block;
}

.sdc-article-container {
  width: 100%;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--article-vertical-margin) * 1.6);
}

.sdc-article-body:not([data-constrain])
.sdc-article-container--half-bleed {
  width: 1024px;
}

.sdc-article-body:not([data-constrain])
.sdc-article-container--full-bleed {
  width: 100vw;
}

.sdc-article-media__caption {
  background: #eee;
  font-size: 16px;
  padding: 0.6em 1em
}

.sdc-article-body > *:not(:last-child) {
  margin-bottom: calc(var(--article-vertical-margin) * 1.5);
}

.sdc-article-body > p:first-of-type {
  font-weight: bold;
}

.sdc-article-body > h2 {
  font-size: 1.5em;
  margin-bottom: 1em !important;
  font-weight: normal;
}

.sdc-article-body > h3 {
  font-size: 1.2em;
  margin-bottom: 1.5em !important;
  font-weight: normal;
}

.sdc-article-body > h4 {
  font-size: 1.05em;
  margin-bottom: 1.5em !important;
  font-weight: normal;
}

.sdc-article-body > h3 + h4 {
  margin-top: -0.6em;
}

.sdc-article-body > *:not(.sdc-article-container) a {
  color: var(--article-link-color);
  text-decoration: underline;
}

.sdc-article-body > *:not(.sdc-article-container) a:hover {
  text-decoration: none;
}

.sdc-article-body > ul {
  list-style: none;
  padding-left: 2.5em;
  font-size: 0.95em;
}

.sdc-article-body > ul > li {
  position: relative;
}

.sdc-article-body > ul > li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  top: 0.5em;
  left: -1.25em;
}

.sdc-article-body > ul > li:not(:last-child) {
  margin-bottom: 1em;
}

/* .sdc-article-body > h3 + *:not(p):not(h4),
.sdc-article-body > h4 + *:not(p) {
  margin-top: calc(5% + 12px);
} */

.sdc-article-widget {
  color: #aaa;
  width: 100%;
}

.sdc-article-label[class] {
  background: #ffcc00;
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 8px;
  line-height: 0.8;
  display: inline-block;
  margin-bottom: 0.1em;
  text-shadow: none!important;
}

.sdc-site-share {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
}

/* hero header */
.sdc-article-head[data-hero]
.sdc-article-head__body {
  position: relative;
  height: 120vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  margin-bottom: calc(var(--article-vertical-margin) * 1.6);
}

.sdc-article-head[data-hero]
.sdc-article-head__body:after {
  content: "";
  width: 100vw;
  position: absolute;
  background: linear-gradient(0deg,rgba(0,0,0,.8),transparent);
  height: 40%;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.sdc-article-head[data-hero]
.sdc-article-head__body > * {
  position: relative;
  z-index: 2;
}

.sdc-article-head[data-hero]
.sdc-article-head__hero[class] {
  max-width: 100vw;
  width: 100vw;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translateX(-50%);
  display: block;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

@media all and (min-width: 920px) {
  .columns {
    display: flex;
  }

  .column1 {
    flex: 1;
    margin-right: 24px;
  }

  .column2 {
    width: 300px;
    background: hotpink;
  }
}
