.sff-header {
  height: 100vh;
  max-height: calc(100vh - 146px);
  position: relative;
  background: black;
  color: white;
  overflow: hidden;
  font-family: premierleague
}

.sff-header:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.sff-header__slide {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%
}
