.sff-moment {
  background: black;
  height: 200vh;
  position: relative;
}

.sff-moment__slide {
  height: 100vh;
  position: sticky;
  top: 0
}
/* 
.sff-moment:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
} */

.sff-moment__slide > video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background-size: cover;
}

@media all and (max-width: 600px){
  .sff-moment:after {
    padding-bottom: 100%;
  }
}
