.sff-panel {
  background: linear-gradient(to bottom, #3a3a3a 0, #2b2b2b 100%);
  padding: calc(1rem * 2) 0;
  text-align: center
}

.sff-panel--white {
  background: white;
}

.sff-panel--no-padding {
  padding: 0;
}