@import "start.css";
@import "panel.css";
@import "grid.css";
@import "nav.css";
@import "header.css";
@import "body.css";
@import "teams.css";
@import "curtains.css";
/* @import "timeline.css"; */
@import "text.css";
@import "block-header.css";
/* @import "split-time.css"; */
@import "counter.css";
@import "gallery.css";
@import "carousel.css";
@import "league-pos.css";
@import "quiz.css";
@import "selector.css";
@import "selector-local.css";
@import "stats.css";
@import "h2h.css";
@import "lineups.css";
@import "moment.css";
@import "sticky-timeline.css";
@import "promo.css";

.place {
  height: 80vh;
  background: #666;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem
}