@font-face{
  font-family:'premierleague';
  src:url(../fonts/premierleague.woff) format("woff");
  font-weight: 400
}

html {
  font-size: calc(13px + 1.4vw);
  color: #222
}

body {
  font-size: 18px;
}

.blackjack-sdc-digrev-header {
  margin-bottom: 0
}


@media all and (min-width: 928px){
  html {
    font-size: 25px;
  }
}