.sff-stat {
  text-align: center;
  padding: 2rem 0
}

.sff-stat-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.sff-stat-block h4 {
  width: 100%;
  order: 0;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}


.sff-stat-block__cell {
  width: 50%;
  order: 1
}

.sff-stat__bar,
.sff-stat__dial {
  width: 100%
}

.sff-stat__dial {
  display: inline-block;
  width: 80%;
  max-width: 280px;
  min-width: 138px;
  position: relative;
}

.sff-stat__dial-item {
 position: relative;
 z-index: 2
}

.sff-stat__dial-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3
}


.sff-stat__dial-stat {
  font-size: 1.9rem;
  color: white;
  font-family: premierleague
}

.sff-stat__dial-icon {
  width: 25%;
  max-width: 60px;
  min-width: 40px;
  position: relative;
  top: -9px;
  margin-top: -9px
}

.sff-stat__dial-overlay--fill {
  z-index: 1;
  overflow: hidden
}

.sff-stat__dial-overlay--fill >
.sff-stat__dial-icon {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
}

.sff-stat__dial-caption {
  margin-top: 0.8rem;
  color: white;
  font-size: 1rem
}

.sff-stat__dial-caption p {
  margin-top: 0.2em
}

.sff-stat__bar-item {
  overflow: hidden;
  position: relative;
  display: flex;
  margin-bottom: 3px;
  font-family: premierleague;
}

.sff-stat__bar-item-cell {
  flex: 1;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  align-items: center
}

.sff-stat__bar-item h5:nth-child(1){
  order: 2;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-weight: 500;
  background: white;
  align-items: center;
  font-size: 0.6rem;
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6
}

.sff-stat__bar-item h5:nth-child(1):before,
.sff-stat__bar-item h5:nth-child(1):after {
  content: "";
  width: 2px;
  height: 6px;
  background: #c7030d;
  position: absolute;
  right: -2px;
}

.sff-stat__bar-item h5:nth-child(1):before {
  right: auto;
  left: -2px;
  background: #7bb9e6;
}

.sff-stat__bar-item-cell:nth-child(2) {
  flex-direction: row-reverse;
  order: 1
} 

.sff-stat__bar-item-cell:nth-child(3) {
  order: 3
} 

.sff-stat__bar-item-cellbar {
  display: block;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex: 1;
  will-change: transform;
  transition: 0.5s transform;
  font-size: 0.75rem;
}

.sff-stat__bar-item-cellbar:before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border: 3px solid white;
  border-radius: 50%;
  order: 2;
  flex: none;
  margin-left: 0.3rem;
}

.sff-stat__bar-item-cellbar:after {
  content: "";
  height: 4px;
  width: inherit;
  background: white;
  display: block;
  order: 3;
}

.sff-stat__bar-item-cellbar[data-utd]{
  justify-content: flex-start;
}

.sff-stat__bar-item-cellbar[data-utd]:before {
  order: 0;
  margin: 0;
  margin-right: 0.3rem
}

.sff-stat__bar-item-cellbar[data-utd]:after {
  order: -1;
}


.sff-stat__bar-item[data-animate-in-view]
.sff-stat__bar-item-cellbar[data-utd] {
  transform: translateX(-100%)
}

.sff-stat__bar-item[data-animate-in-view]
.sff-stat__bar-item-cellbar {
  transform: translateX(100%)
}