.sff-stat {
  text-align: center;
  padding: 2rem 0
}

.sff-stat-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.sff-stat-block h4 {
  width: 100%;
  order: 0;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}


.sff-stat-block__cell {
  width: 50%;
  order: 1
}

.sff-stat__bar,
.sff-stat__dial {
  width: 100%
}

.sff-stat__dial {
  display: inline-block;
  width: 80%;
  max-width: 280px;
  min-width: 138px;
  position: relative;
}

.sff-stat__dial-item {
 position: relative;
 z-index: 2
}

.sff-stat__dial-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3
}


.sff-stat__dial-stat {
  font-size: 1.9rem;
  color: white;
  font-family: premierleague
}

.sff-stat__dial-icon {
  width: 25%;
  max-width: 60px;
  min-width: 40px;
  position: relative;
  top: -9px;
  margin-top: -9px
}

.sff-stat__dial-overlay--fill {
  z-index: 1;
  overflow: hidden
}

.sff-stat__dial-overlay--fill >
.sff-stat__dial-icon {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
}

.sff-stat__dial-caption {
  margin-top: 0.8rem;
  color: white;
  font-size: 1rem
}

.sff-stat__dial-caption p {
  margin-top: 0.2em
}

.sff-stat__bar-item {
  overflow: hidden;
  height: 1.25rem;
  position: relative;
  display: flex;
  margin-bottom: 3px;
}

.sff-stat__bar-item-cell {
  flex: 1;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  align-items: center
}

.sff-stat__bar-item-cell[data-animate-in-view]{
  width: 1px!important
}

.sff-stat__bar-item h5:nth-child(1){
  order: 2;
  width: 50px;
  height: 100%;
  background: white;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center
}


.sff-stat__bar-item-cell:nth-child(2) {
  flex-direction: row-reverse;
  order: 1
} 

.sff-stat__bar-item-cell:nth-child(3) {
  order: 3
} 

.sff-stat__bar-item-cell:after {
  content: attr(data-label);
  padding: 0 0.5rem;
  font-size: 0.7rem
} 

.sff-stat__bar-item-cell:before {
  content: "";
  height: 100%;
  box-sizing: border-box;
  width: inherit;
  border: 2px solid white;
  display: inline-block;
  will-change: width;
  transition: 0.5s width;
  background: #c7030d
}

.sff-stat__bar-item-cell:nth-child(2):before {
  background: #70ade5
}