number-counter__punctuation {
  display: inline-block;
  vertical-align: middle;
  height: 0;
  line-height: 0;
}

.number-counter__digit {
  display: inline-block;
  vertical-align: middle;
  min-width: 0.55em;
  height: 1em;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
}

.number-counter__digit--static {
  color: transparent;
}

.number-counter__digit--thin {
  margin-left: 0.1em;
}

.number-counter__digit-wheel {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1em;
  transition: transform 1s ease-in-out;
}