/* sdc-site-breaking-news */
/* ========= */
/* SKIN */
/* Default styling paramters for this component that can be overwritten at project level */
/* ========= */
/* COMPONENT */
/* The main structural styles to create a vanilla version of this component */
/* ========= */
.sdc-site-breaking-news {
  margin-bottom: var(--component-gap);
  position: relative;
  color: var(--text-color-dark);
  font-size: var(--display-4); }

.sdc-site-breaking-news__inner {
  padding: var(--component-padding);
  background: var(--breaking);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.sdc-site-breaking-news__headline {
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  padding: 0.4em 0; }

.sdc-site-breaking-news__headline-link {
  color: inherit; }

.sdc-site-breaking-news__headline-link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.sdc-site-breaking-news__label {
  font-size: var(--display-5);
  background: var(--text-color-dark);
  color: var(--breaking);
  padding: 8px 10px;
  text-transform: uppercase;
  line-height: 0.9;
  margin-right: var(--component-gap);
  vertical-align: middle;
  font-weight: bold; }
