.ui-box {
  --padding: var(--gap-0);
  --bg: none;
  --border: 0;
  --border-radius: 0;
  --box-shadow: 0;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg);
  box-shadow: var(--box-shadow);
}

.ui-box[data-glass] {
  --border: 6px solid rgba(255,255,255,0.5), 1px solid ;
  --box-shadow: 1px 1px 15px rgb(0 0 0 / 14%), 0 0 1px #FFF;
}

.ui-box[data-outline] {
  --border: 1px solid var(--link-color);
}

.ui-box[data-rounded] {
  --border-radius: 12px;
}

