.ui-box {
  --padding: var(--gap-0);
  --bg: none;
  --border: 0;
  --border-radius: 0;
  --box-shadow: 0;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg);
  box-shadow: var(--box-shadow);
}

.ui-box[data-outline] {
  --border: 1px solid var(--border-color);
}

.ui-box[data-rounded] {
  --border-radius: 12px;
}

