.ui-story {
  --color: var(--text-color);
  --direction: row;
  --cols: 2fr 1fr;
  --rows: min-content 1fr;
  --align: stretch;
  --meta-justify: left;
  --meta-margin: 8px;
  --body-align: space-between;
  --body-padding: 24px 20px;
  --image-aspect-ratio: 16/9;
  --image-height: auto;
  --image-width: 100%;
  --image-border-radius: 0;
  --headline-size: 16px;
  --headline-link-color: inherit;
  --headline-justify: left;
  --background: var(--component-bg);
  --padding: 0;
  --min-height: auto;
  height: 100%;
  display: grid;
  line-height: 1.3;
  color: var(--text-color);
}

.ui-story-wrap {
  container-type: inline-size;
  display: grid;
  grid-auto-columns: var(--cols);
  grid-auto-rows: var(--rows);
  grid-auto-flow: var(--direction);
  align-items: var(--align);
  padding: var(--padding);
  background: var(--background);
}

.ui-story-figure {
  position: relative;
  width: var(--image-width);
  justify-self: center;
}

.ui-story-figure:before {
  content: "";
  display: block;
  position: relative;
  padding-bottom: calc((1 / (var(--image-aspect-ratio))) * 100%);
}

.ui-story-figure img {
  display: block;
  object-fit: cover;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: var(--image-border-radius);
}

.ui-story-body {
  display: grid;
  gap: var(--body-padding);
  align-content: var(--body-align);
  padding: var(--body-padding);
}

.ui-story-content {
  /* note - using display grid here causes performance issues in ios for some reason */
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--meta-margin);
}

.ui-story-meta {
  display: grid;
  grid-auto-flow: column;
  justify-content: var(--meta-justify);
  align-items: center;
  gap: 8px;
}

.ui-story-headline {
  font-size: var(--headline-size);
  font-weight: normal;
  text-align: var(--headline-justify);
}

.ui-story-headline a {
  display: block;
  color: var(--headline-link-color);
}

.ui-story .ui-list {
  --size: 14px;
  --link-color: var(--text-color);
}

.ui-story[data-type~="analysis"] {
  --meta-justify: center;
  --headline-justify: center;
  --image-aspect-ratio: 1/1;
  --image-width: clamp(90px, 60%, 124px);
  --image-border-radius: 50%;
  --padding: 40px 0 0 0;
}

.ui-story[data-type~="hero"] {
  --headline-size: 20px;
}

.ui-story[data-type~="vertical"] {
  --direction: row;
  --min-height: 350px;
}

.ui-story[data-type~="horizontal"] {
  --direction: column;
  --rows: 1fr;
  --image-height: 100%;
}

@media all and (max-width: 480px) {
  .ui-story[data-type~="horizontal-s"] {
    --padding: 18px 18px 18px var(--site-gutter);
    --body-padding: 0 0 0 18px;
    --align: center;
    --cols: 100px 1fr;
    --min-height: auto;
    --direction: column;
    --image-aspect-ratio: 1/1;
    --meta-margin: 5px;
  }

  .ui-story[data-type~="vertical-s"] {
    --direction: row;
    --min-height: auto;
    --rows: min-content;
  }
}

/* .ui-story {
  --gap-block: 19px;
  --gap-inline: 14px;
  --columns: 1fr;
  --aspect-ratio: 16/9;
  --size: clamp(16px, 7cqw, 20px);
  --align-body: center;
  container-type: inline-size;
  display: grid;
  align-items: start;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ui-story-wrap[data-pattern*="hero"] {
  --size: clamp(16px, 8cqw, 28px);
}

.ui-story-wrap {
  display: grid;
  gap: var(--gap-block) var(--gap-inline);
  grid-template-columns: var(--columns);
}

.ui-story-media {
  display: grid;
  align-content: center;
}

.ui-story-media img {
  display: block;
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  border-radius: 5px;
  object-fit: cover;
}

.ui-story-body {
  display: grid;
  align-content: center;
  container-type: inline-size;
  gap: calc(var(--gap-inline) / 2);
}

.ui-story-headline {
  font-size: var(--size);
  font-weight: bold;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ui-story-headline a {
  color: inherit;
}

.ui-story-headline a:after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  padding-top: 200%;
  z-index: 0;
}

@media (hover:hover) {
  .ui-story-headline a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
  }
}

.ui-story-wrap[data-pattern="row"] {
  --columns: 33.333% 1fr;
  --aspect-ratio: 1/1;
}

@container (min-width: 300px) and (max-width: 400px) {
  .ui-story[data-pattern="col-to-row"] .ui-story-wrap {
    --columns: 33.333% 1fr;
    --aspect-ratio: 1/1;
  }
}

.ui-story-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.ui-story-tag,
.ui-story-label {
  font-size: 13px;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none;
}

.ui-story-tag {
  text-transform: uppercase;
  background: #ffcc00;
  color: black;
}

.ui-story-label {
  padding: 2px 1px;
}

.ui-story-links {
  position: relative;
  z-index: 1;
  padding: var(--gap-inline) 0;
}

.ui-story-links:empty {
  display: none;
} */