/* import component css */
/* SITE ADVERT SKIN */
/* =================== */
/* Media Query Variables */
.sdc-site-au {
  text-align: center;
  line-height: 0;
  display: flex !important;
  justify-content: center;
  flex-direction: column-reverse; }
  .sdc-site-au__label {
    display: none;
    margin-bottom: 12px; }
  .sdc-site-au__label-text {
    font-size: 0.8rem;
    color: #9f9f9f; }
  .sdc-site-au--full-bleed:after {
    content: " ";
    display: table; }
  .sdc-site-au--full-bleed .sdc-site-au__leaderboard {
    width: 100%;
    background-color: #e0dee4;
    min-height: calc(90px + calc(0.5em + 0.7vmin) * 2); }
    .sdc-site-au--full-bleed .sdc-site-au__leaderboard > div {
      padding: calc(0.5em + 0.7vmin) 0;
      box-sizing: content-box; }

.sdc-article-body .sdc-site-au {
  clear: both; }

[data-advert-rendered] .sdc-site-au__label {
  display: block; }

[data-role="ad-container"][style*="display: none"] + .sdc-site-au__label {
  display: none; }

.sdc-site-au__mpu {
  display: inline-block;
  min-height: 250px;
  min-width: 300px; }

.sdc-site-au__leaderboard {
  display: inline-block !important;
  min-width: 728px;
  min-height: 90px; }

.sdc-site-au[data-ad-format="takeover"] {
  font-size: 0; }

.sdc-site-au__takeover {
  display: none; }

.sdc-site-au--sponsor-position-container {
  position: relative;
  direction: rtl; }

.sdc-site-au[data-ad-format="sponsor-position"] {
  width: 88px;
  height: 31px; }

.sdc-site-au--sponsor-position-container > .sdc-site-au[data-ad-format="sponsor-position"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.sdc-site-au--sponsor-position-container .sdc-site-component-header__body {
  padding: 0 136px 0 0;
  direction: ltr; }

@media all and (max-width: 739px) {
  .sdc-site-au__leaderboard {
    min-width: 300px;
    min-height: 50px; }
  .sdc-site-au--full-bleed .sdc-site-au__leaderboard {
    min-height: calc(50px + calc(0.5em + 0.7vmin) * 2); }
  .sdc-site-au--sponsor-position-container .sdc-site-component-header__body {
    padding: 0 100px 0 0; } }

@media all and (min-width: 1000px) {
  .sdc-site-au__takeover {
    display: inline-block;
    min-width: 1px; }
  .sdc-site-au[data-ad-format="sponsor-position"] {
    width: 120px;
    height: 60px; } }

@media all and (max-width: 480px) {
  .sdc-site-au--sponsor-position-container .sdc-site-component-header__body {
    padding-top: 25px; } }
