@font-face {
  font-family: 'var(--base-font-name)';
  src: url('../../fonts/skytext-regular.woff') format('woff');
  font-display: var(--base-font-load-setting);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'var(--base-font-name)', sans-serif;
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
  color: var(--body-text-color);
  background: var(--body-bg);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}