:root {
  /* colors */
  --brand1: #ccc;
  --brand2: #aaa;
  --brand3: #666;
  --shade0: white;
  --shade1: #eee;
  --shade2: #bbb;
  --shade3: #999;
  --shade4: #111;
  
  --border-color1: var(--shade2);
  --border-color2: var(--shade3);
  --icon-color: var(--shade3);
  --site-bg: var(--shade1);
  --link-color: #3157a1;
  --text-color: var(--shade4);
  --text-color-invert: var(--shade0);
  --sub-text-color: var(--shade3);

  /* scaling units */
  --base-scaler: calc(3.3px + 0.75vw);
  --space-xs: calc(var(--base-scaler) * 1);
  --space-s: calc(var(--base-scaler) * 2); 
  --space-m: calc(var(--base-scaler) * 3);
  --space-l: calc(var(--base-scaler) * 4);
  --space-xl: calc(var(--base-scaler) * 5);
  
  --component-gap: var(--space-s);
  --component-column-gap: var(--space-m);
  --component-margin: var(--space-l);
  --component-padding: var(--space-m);
  --site-gutter: calc(var(--space-s) + 4px);
  --site-width: 1024px;
  --site-indent: var(--component-padding);

  /* fonts */
  --base-font-name: 'skytext';
  --base-font-load-setting: 'optional';
  
  --base-font-size: 18px;
  --base-font-scaler: calc(21.2px + 3vw);

  --font-scale-l: var(--base-font-scaler);
  --font-scale-m: calc(var(--base-font-scaler) * 0.75);
  --font-scale-s: calc( ( (var(--base-font-scaler)) / 8) + 18px);
  --font-scale-xs: calc((var(--base-font-scaler) * 0.375) + 6px);
  --font-fixed-s: 18px;
  --font-fixed-xs: 16px;
  --font-fixed-xxs: 14px;

  --article-text: calc((var(--base-font-scaler) * 0.25) + 10px);
  --component-text: calc( ( (var(--base-font-scaler) - 10px) / 8) + 13.25px);
}

@media all and (max-width: 360px) {
  :root {
    --base-scaler: 6px;
    --base-font-scaler: 32px;
  }
}

@media all and (min-width: 900px) {
  :root {
    --base-scaler: 10px;
    --base-font-scaler: 48px;
  }
}