@font-face {
  font-family: 'var(--base-font-name)';
  src: url('../../fonts/skytext-regular.woff') format('woff');
  font-display: var(--base-font-load-setting);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'var(--base-font-name)', sans-serif;
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
  color: var(--text-color1);
  background: var(--site-bg);
}

.site-wrap {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.site-wrap-padding {
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter);
}