.sf-h2h-scores {
  color: white;
}

.sf-h2h-scores__body {
  display: flex;
  flex-wrap: wrap;
}

.sf-h2h-scores__cell {
  flex: 1;
  padding: 0 0.3rem;
  text-align: center
}

.sf-h2h-scores__match {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.041);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.15rem 0.3rem 0;
  font-size: 0.7rem;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}

.sf-h2h-scores__match--draw {
  background: white;
  color: #222;
}

.sf-h2h-scores__match:hover {
  text-decoration: none;
}

.sf-h2h-scores__badge {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  background: #666;
  position: relative;
}

.sf-h2h-scores__badge>img {
  border-radius: 50%;
}

.sf-h2h-scores__number[class] {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.sf-h2h-scores__tooltip {
  pointer-events: none;
  background: black;
  color: white;
  padding: 0.75em;
  position: absolute;
  z-index: 11;
  transform: translate(-50%, -100%);
  margin-top: -10px;
  transition: opacity 0.166s;
  white-space: pre-line;
  font-size: 14px;
  text-align: left;
  line-height: 1.2;
  left: -10000px;
}

.sf-h2h-scores__tooltip:first-line {
  font-weight: 500
}

.sf-h2h-scores__tooltip:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  left: calc(50% - 4px);
  top: calc(100% - 4px);
  position: absolute;
  background: inherit;
}