.code-block {
    background: #282b34;
    color: #da616d;
    font-family: 'Courier New', Courier, monospace;
    padding: var(--component-gap);
    line-height: 1.4;
    font-size: var(--font-fixed-s);
    margin-bottom: calc(var(--component-margin));
}

.code-block i {
    color: #888;
}

.code-block span {
    color: #eee;
}

.code-block c {
    color: #8bc34a;
}

.code-block e {
    color: #ad636d;
}

.code-block se {
    color: #dca6a6;
}

.code-block pre {
    white-space: pre-wrap;
}

