.eg {
    background: var(--component-shade);
    padding: calc(var(--component-padding));
    margin-bottom: calc(var(--component-margin));
    max-width: 900px;
}

.eg--full-width {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.eg,
.eg * {
    position: relative;
}

.eg[data-label]:after,
.eg *[data-label]:after {
    content: attr(data-label);
    position: absolute;
    font-size: 13px;
    background: var(--breaking);
    color: black;
    white-space: nowrap;
    left: 0;
    top: 0;
    transform: translate(3px, -100%);
    padding: 1px;
}

[data-inside][data-inside]:after {
    transform: translate(3px, 3px);
}

[data-inside][data-right]:after {
    right: 0;
    left: auto;
    transform: translate(-3px, 3px);
}

@media all and (min-width: 704px) {
    [data-vert]:after {
        transform: rotate(90deg) !important;
        transform-origin: 0 0 !important;
    }
}

[data-bottom]:after {
    top: 100% !important;
    transform: none !important;
}

[data-bottom][data-outside]:after {
    top: 100% !important;
    transform: translateY(100%) !important;
}

.eg-item:not([class*=site-component-vertical-margin]),
.eg-item-clean:not([class*=site-component-vertical-margin]) {
    margin-bottom: var(--component-margin);
}

.eg-item:not(.site-wrap) {
    background: var(--component-bg);
    border: 1px solid var(--border-color);
    font-size: var(--component-text);
    padding: var(--component-padding);
}

.eg-item-clean {
    background-color: var(--component-bg);
    font-size: var(--component-text);
    padding: var(--component-padding);
    position: relative;
}


.eg-item-component {
    background: var(--component-bg);
    border: 4px solid var(--border-color);
    padding-bottom: 20%;
}

.eg-cols {
    display: grid;
    grid-gap: var(--component-gap);
    margin-bottom: var(--component-gap);
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.eg-cols>div:not(:only-child) {
    padding: var(--component-padding);
}

.eg-row {
    font-size: var(--display-4);
    margin-bottom: var(--component-gap);
    background: var(--component-shade);
    padding: 0.5em;
}

.eg-invert {
    background: var(--shade-5);
    color: var(--text-color-invert);
}

.eg-ass-text {
    color: var(--text-color-secondary);
    font-size: var(--supporting-text);
    margin-top: 1.5em;
}

.eg-article {
    background: white;
    max-width: 660px;
}

.eg-article h1 {
    font-weight: normal;
    font-size: var(--display-1);
    line-height: 1.1;
    margin-bottom: var(--component-gap);
}

.eg-article h2 {
    font-weight: normal;
    text-transform: none;
    color: inherit;
    line-height: 1.3;
    font-size: var(--display-4);
    margin-bottom: var(--component-margin);
}

.eg-article-author {
    font-size: var(--label-text);
    margin-bottom: var(--group-margin);
}

.eg-article p {
    line-height: 1.4;
    margin-bottom: 1.75em;
    font-size: var(--article-text);
}

.eg-article>*:last-child {
    margin-bottom: 0;
}

.eg-link {
    font-size: var(--supporting-text);
}

.eg-article h3 {
    font-size: var(--display-2);
    text-transform: none;
    margin: 1.5em 0 1em;
    font-weight: normal;
}

.eg-article h4 {
    font-size: var(--display-3);
    text-transform: none;
    margin: 1.5em 0 1em;
    font-weight: normal;
    padding-bottom: 0;
    border: 0
}

.eg-item-xray .eg-cols>div {
    padding: 0;
    border: 1px dashed var(--border-color);
}