h2 {
  color: var(--text-color-secondary);
  text-transform: uppercase;
  font-size: var(--display-5);
  margin-bottom: var(--component-gap);
  display: flex;
  align-items: center;
}

h3 {
  font-size: var(--display-1);
  margin-bottom: var(--group-margin);
  display: flex;
  align-items: center;
}

h4 {
  text-transform: uppercase;
  font-size: var(--font-fixed-s);
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.4em;
  margin-bottom: var(--component-gap);
  display: flex;
  align-items: center;
}

.ass-link {
  font-size: var(--font-fixed-xs);
  color: var(--link-color);
  padding-left: var(--component-gap);
  text-transform: none;
}