.sdc-article-author {
  font-size: 0.9em;
  display: flex;
  padding-top: 2em;
  padding-bottom: 1.75em; }
  .sdc-article-author__byline {
    font-weight: bold; }
  .sdc-article-author__avatar {
    flex: 0 0 calc(40px + 1em);
    padding-right: 1em; }
  .sdc-article-author__image {
    display: block;
    width: 100%;
    border-radius: 0; }
  .sdc-article-author__details {
    flex: auto;
    vertical-align: middle; }
  .sdc-article-author__link {
    color: #0072c9; }
  .sdc-article-author__name {
    margin: 0 0 .3em; }
  .sdc-article-author__role {
    color: #666;
    margin: 0;
    font-size: 0.9em; }

@media all and (min-width: 600px) {
  .sdc-article-author {
    font-size: 1em;
    padding-top: 2.5em;
    padding-bottom: 2em; }
    .sdc-article-author__avatar {
      flex: 0 0 calc(50px + 1em);
      padding-right: 1em; } }
