* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: #333;
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink;
}

h1 {
  font-size: 2.24em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.4;
  font-size: 22px;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
}

.number-counter {
  font-size: 5em;
  text-align: center;
}

.number-counter__punctuation {
  display: inline-block;
  vertical-align: middle;
  height: 0;
  line-height: 0;
}

.number-counter__digit {
  display: inline-block;
  vertical-align: middle;
  min-width: 0.55em;
  height: 1em;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
}

.number-counter__digit--static {
  color: transparent;
}

.number-counter__digit--thin {
  margin-left: 0.1em;
}

.number-counter__digit-wheel {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1em;
  transition: transform 1s ease-in-out;
}

.player-stats {
  background-color: #030C7E;
}

.player-stats__cols {
  max-width: 1200px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.player-stats__col {
  flex: 0 0 50%;
  width: 50%;
  align-self: flex-end;
}

.player-stats__col + .player-stats__col {
  align-self: center;
}

.player-stats__image {
  display: block;
  max-width: 100%;
  padding: 1.5em 0 0 0;
  object-fit: contain;
  object-position: bottom;
}

.player-stats__stat {
  color: #fff;
  text-align: center;
  padding: 1.5em;
}

.player-stats__stat-figure {
  font-size: 8em;
  font-weight: 200;
}

.player-stats__stat-caption {
  font-size: 2em;
  font-weight: 200;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > .chart {
  padding: 1em;
  flex-basis: 50%;
}

.bar-chart {
  list-style: none;
  height: 300px;
  vertical-align: bottom;
  display: flex;
  flex: 1 0 50%;
  background: #eee;
  overflow: hidden;
}

.bar-chart__bar {
  width: 2em;
  height: 100%;
  margin: 0 0.1em;
  text-align: center;
  background: darkgreen;
  color: #fff;
  flex: 1;
  align-self: flex-end;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.circle-chart {
  position: relative;
}

.circle-chart > svg {
  width: 100%;
}

.circle-chart > .number-counter {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -0.65em;
  font-size: 3em;
  z-index: 2;
}

.circle-chart__track {
  fill: transparent;
  stroke: rgba(0,0,0,0.1);
  stroke-width: 1;
}

.circle-chart__bar {
  fill: transparent;
  stroke: rgba(0,0,0,0.5);
}
