* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: #333;
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink;
}

h1 {
  font-size: 2.24em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.4;
  font-size: 22px;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
}

.number-counter {
  font-size: 5em;
  text-align: center;
  position: relative;
}

.number-counter__punctuation {
  display: inline-block;
  vertical-align: middle;
  height: 0;
  line-height: 0;
}

.number-counter__digit {
  display: inline-block;
  vertical-align: middle;
  min-width: 0.55em;
  height: 1em;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  color: transparent;
}

.number-counter__digit--thin {
  margin-left: 0.1em;
}

.number-counter__digit-wheel {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1em;
  transition: transform 1s ease-in-out;
  color: #333;
}
