:root {
  /* ----------------- */
  /* ---GLOBAL VARS--- */
  /* ----------------- */
  /* COLORS */
  /* brand */
  --brand-1: #002672;
  /* placeholder - overriden by brand file */
  --brand-2: #EA021A;
  /* placeholder - overriden by brand file */
  --brand-3: linear-gradient(#002672, #00043B);
  /* placeholder - overriden by brand file */
  /* shade colors (for internal use) */
  --shade-0: #FFFFFF;
  --shade-1: #F4F5F7;
  --shade-2: #E2E2E2;
  --shade-3: #707070;
  --shade-4: #4A4A4A;
  --shade-5: #222222;
  /* shade gradients */
  --gradient-radial: radial-gradient(circle at center,#fff 0,#e8e7ed 100%);
  --gradient-pipe: linear-gradient(90deg,#d7d5dd 0,#eee 30%,#eee 70%,#d7d5dd);
  /* ui states */
  --success: #299934;
  /* success messages */
  --alert: #EA021A;
  /* alerts and warnings */
  --breaking: #FFE000;
  /* breaking news components */
  --link-color: #3157A1;
  /* global text link color */
  /* common alias values */
  --body-bg: var(--shade-1);
  /* mobile site bg (desktop uses a gradient) */
  --component-bg: var(--shade-0);
  /* components bg is generally white */
  --component-shade: var(--shade-1);
  /* component header bg */
  --border-color: var(--shade-2);
  /* border color for components */
  --text-color: var(--shade-4);
  /* main body text */
  --text-color-invert: var(--shade-0);
  /* text on dark backgrounds */
  --text-color-secondary: var(--shade-3);
  /* lighter body text */
  --text-color-dark: var(--shade-5);
  /* lighter body text */
  --icon-color: var(--shade-5);
  /* color for svg/ui icons */
  /* box shadows */
  --drop-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
  /* horizontal drop shadow beneath a ui element */
  --glow-shadow: 0 0 8px rgba(0,0,0,0.12);
  /* glow shadow around a ui element */
  /* SPACING */
  /* scaling values (for internal use) - scales between 360 - 900px */
  --base-scaler: calc(3.3px + 0.75vw);
  --space-xs: calc(var(--base-scaler) * 1);
  /* 6 - 10px */
  --space-s: calc(var(--base-scaler) * 2);
  /* 12 - 20px */
  --space-m: calc(var(--base-scaler) * 3);
  /* 18 - 30px */
  --space-l: calc(var(--base-scaler) * 4);
  /* 24 - 40px */
  --space-xl: calc(var(--base-scaler) * 6);
  /* 36 - 60px */
  /* widths constraints */
  --site-width: 1024px;
  /* max site width including gutters */
  --site-width-amp: 600px;
  /* max site width for amp */
  --site-width-inner: 976px;
  /* max site width minus gutters */
  /* common alias values */
  --component-gap: var(--space-s);
  /* gap between internal component elements */
  --component-padding: var(--space-m);
  /* padding on main component container */
  --component-margin: var(--space-l);
  /* vertical margin between different components */
  --group-margin: var(--space-xl);
  /* large vertical margin between large or groups of components */
  --site-gutter: calc(var(--space-s) + 4px);
  /* left and right gutter on site body */
  --z-index-ui: 999;
  /* later for site ui elements - navs, menus etc */
  --z-index-ads: 9999;
  /* layer for ads that go over ui */
  --z-index-overlays: 99999;
  /* layer for overlays that sit on top of everything */
  /* FONTS */
  /* settings */
  --base-font-name: 'skytext';
  --base-font-load-setting: 'optional';
  /* bases */
  --base-font-size: 18px;
  --base-font-scaler: calc(21.2px + 3vw);
  /* scaling values (for internal use) - scales between 360 - 900px */
  --font-scale-xl: var(--base-font-scaler);
  /* 32 - 48px */
  --font-scale-l: calc((var(--base-font-scaler) * 1.25 / 2) + 6px);
  /* 26 - 36px */
  --font-scale-m: calc(var(--base-font-scaler) * 0.35 + 13.2px);
  /* 24 - 30px */
  --font-scale-s: calc( ( (var(--base-font-scaler)) / 8) + 16px);
  /* 20 - 22px */
  --font-scale-xs: calc( ( (var(--base-font-scaler)) / 8) + 14px);
  /* 18 - 20px */
  --font-scale-xxs: calc( ( (var(--base-font-scaler) - 10px) / 8) + 13.25px);
  /* 16 - 18px */
  /* fixed values */
  --font-fixed-m: var(--base-font-size);
  --font-fixed-s: calc(var(--base-font-size) - 2px);
  --font-fixed-xs: calc(var(--base-font-size) - 4px);
  /* common alias values */
  --display-1: var(--font-scale-xl);
  /* article headline/extra large header */
  --display-2: var(--font-scale-l);
  /* large component/group header */
  --display-3: var(--font-scale-m);
  /* med component header */
  --display-4: var(--font-scale-s);
  /* standard component header */
  --display-5: var(--font-scale-xs);
  /* small component header */
  --display-6: var(--font-scale-xxs);
  /* x small component header */
  --article-text: var(--font-scale-xs);
  /* any large body of text */
  --component-text: var(--font-scale-xxs);
  /* smaller blocks of text within components */
  --supporting-text: var(--font-fixed-s);
  /* accompanying text */
  --label-text: var(--font-fixed-xs);
  /* label and note text */ }

@media all and (max-width: 360px) {
  :root {
    --base-scaler: 6px;
    --base-font-scaler: 32px; } }

@media all and (min-width: 900px) {
  :root {
    --base-scaler: 10px;
    --base-font-scaler: 48px
  ; } }

/* START/RESET */
/* ========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; }

html {
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: "Sky Text", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  word-wrap: break-word;
  text-decoration-skip: ink; }

body[data-body-locked='true'] {
  overflow: hidden;
  width: 100%; }

img {
  max-width: 100%;
  opacity: 1;
  border: 0; }

a,
svg {
  color: inherit;
  fill: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

@media (hover: none) {
  a[href]:hover {
    text-decoration: none; } }

:focus {
  outline-offset: -2px; }

ul {
  list-style: none; }

/* PROJECT COLOR PALETTE */
/* ========= */
/* primary */
/* ========= */
/* backgrounds */
/* ========= */
/* text */
/* ========= */
/* keylines */
/* ========= */
/* gradients */
/* ========= */
/* significance */
/* ========= */
/* SDC project settings
  =========================================== */
/* AMP Specific settings
  =========================================== */
/* SDC site layout
  =========================================== */
@media all and (max-width: 939px) {
  .site-wrap-basic {
    width: 100%;
    max-width: var(--site-width-inner);
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important; } }

.site-wrap {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto; }

.site-wrap-padding, .section-wrap__article-column {
  padding-left: var(--site-gutter);
  padding-right: var(--site-gutter); }

.site-indent[class] {
  padding-left: var(--component-padding);
  padding-right: var(--component-padding); }

.site-component-vertical-margin {
  margin-bottom: var(--component-margin); }

.site-component-vertical-margin-negative {
  margin-top: calc(var(--component-margin) * -1); }

.site-component-vertical-margin-l {
  margin-bottom: var(--group-margin); }

.site-component-vertical-margin-s {
  margin-bottom: var(--component-gap); }

.section-wrap {
  background: white; }
  .section-wrap > .site-component-vertical-margin:last-child {
    margin-bottom: 0;
    padding-bottom: var(--component-margin); }

.section-wrap--padding {
  padding: var(--component-margin) 0; }

.section-wrap--shade {
  padding: var(--group-margin) 0; }

.section-wrap__article-column .sdc-site-component-header__body {
  padding: 0; }

@media all and (max-width: 480px) {
  .site-wrap--mobile-edge {
    padding-left: 0;
    padding-right: 0; }
  .site-wrap.sdc-site-tiles__inner {
    padding-left: 0;
    padding-right: 0; } }

/* Glints
  =========================================== */
.glints-box {
  border: 5px solid rgba(255, 255, 255, 0.1);
  background-color: white;
  background-clip: padding-box;
  position: relative; }

.glints-box:before {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  pointer-events: none;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px; }

.glints-wings {
  transform-style: preserve-3d;
  position: relative;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 0;
  border-bottom: 0;
  background-clip: padding-box;
  box-shadow: none;
  box-shadow: 4px 0 2px rgba(0, 0, 0, 0.1), -4px 0 2px rgba(0, 0, 0, 0.1); }

@supports (transform-style: preserve-3d) {
  .glints-wings:before {
    background: rgba(255, 255, 255, 0.15); } }

.glints-wings:before {
  content: "";
  position: absolute;
  top: 0;
  height: calc(100%);
  left: -12px;
  width: calc(100% + 24px);
  transform: translateZ(-1px);
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.47) 9%, rgba(255, 255, 255, 0.57) 26%, rgba(255, 255, 255, 0.8) 44%, rgba(255, 255, 255, 0.15)) 1;
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid;
  box-shadow: none;
  box-sizing: border-box; }

.glints-wings:after {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: calc(100% + 24px);
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), linear-gradient(166deg, rgba(255, 255, 255, 0.09) 45%, rgba(255, 255, 255, 0) 45%);
  background-size: 5px 100%, 5px 100%, 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) 0, 7px 0, 0 0; }

.glints-wings > * {
  transform: translateZ(1px); }

.glints-wings--right {
  border-left: 0; }

.glints-wings--right:before {
  left: 0;
  width: calc(100% + 12px); }

.glints-wings--right:after {
  left: 0;
  width: calc(100% + 12px);
  background-size: 5px 100%, 0 0, 100%; }

.glints-box-padding {
  padding: var(--component-padding); }

@media all and (max-width: 480px) {
  .glints-wings {
    border-left-width: 8px;
    border-right-width: 8px; }
  .glints-wings:before {
    left: -8px;
    width: calc(100% + 16px); }
  .glints-wings:after {
    left: -8px;
    width: calc(100% + 16px);
    background-position: calc(100% - 4px) 0, 4px 0, 0 0; }
  .glints-wings--right:before {
    left: 0;
    width: calc(100% + 8px); }
  .glints-wings--right:after {
    left: 0;
    width: calc(100% + 8px); } }

/* SDC site shared ui skin
  =========================================== */
.sdc-ui-external-link:after {
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.2em;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNNC43OTcgNy45N0wxMi42NS4xMmwuNDguNDc4TDUuMjc1IDguNDV6Ii8+PHBhdGggZD0iTTEzLjIgNC45MWgtLjY2M1YuNzUyaC00LjI2di0uNjVIMTMuMm0tMS4zMSAxMi44M0guMTA2VjEuMzg2SDUuOTl2LjY1SC43NVYxMi4zaDEwLjQ4VjcuMTY2aC42NjMiLz48L2c+PC9zdmc+Cg==) no-repeat;
  background-size: 100%;
  opacity: 0.5; }

.sdc-article-significance--exclusive[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--breaking[class] {
  color: #000000;
  background: #ffe001; }

.sdc-article-significance--sponsored[class] {
  color: #707070; }

.sdc-article-significance--live[class] {
  color: #ffffff;
  background: #d0021b; }

.sdc-article-significance--analysis[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--transfer[class] {
  color: #ffe001;
  background: #000000; }

.sdc-article-significance--update[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--eyewitness[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--opinion[class] {
  color: #ffffff;
  background: #0a1388; }

.sdc-article-significance--explainer[class] {
  color: #ffffff;
  background: #0a1388; }

/* sdc-news-listing skin */
/* sdc-news-listing */
.sdc-news-listing {
  display: block;
  margin: 0 0 2em; }
  .sdc-news-listing__list {
    margin: 1em 0 0;
    padding: 0;
    border-top: 1px solid #dcdcdc;
    list-style: none; }
    .sdc-news-listing__list--topics {
      margin-top: 0;
      border-top: 0; }
  .sdc-news-listing__item {
    overflow: hidden;
    margin: 0;
    padding: 1em 0;
    border-bottom: 1px solid #dcdcdc; }
  .sdc-news-listing__media {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 40%; }
    .sdc-news-listing__media-img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      max-height: 100%;
      width: 100%;
      height: auto;
      border: 1px solid #dcdcdc; }
  .sdc-news-listing__ratio {
    position: relative;
    padding-bottom: 75%; }
  .sdc-news-listing__headline {
    box-sizing: border-box;
    margin: 0 0 0 calc(40% + 1em);
    padding: 0;
    color: #333;
    font-size: 1.125rem;
    line-height: 120%; }
  .sdc-news-listing__link {
    color: #333;
    text-decoration: none; }
    .sdc-news-listing__link:hover, .sdc-news-listing__link:focus {
      color: #3157a1; }
  .sdc-news-listing__body {
    clear: both;
    box-sizing: border-box;
    padding: 0.6em 0 0; }
  .sdc-news-listing__intro {
    margin: 0 0 0.6em;
    color: #333;
    font-size: 1.125rem; }
  .sdc-news-listing__source, .sdc-news-listing__updated {
    color: #666; }

@media screen and (min-width: 375px) {
  .sdc-news-listing__media {
    width: 30%; }
  .sdc-news-listing__headline, .sdc-news-listing__body {
    margin-left: calc(30% + 1em);
    clear: none; } }

@media screen and (min-width: 600px) {
  .sdc-news-listing__media {
    max-width: 180px; }
  .sdc-news-listing__headline, .sdc-news-listing__body {
    margin-left: calc(180px + 1em); } }
