* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(12px + 2vw);
}

@media all and (min-width: 1024px){
  html {
    font-size: 32px;
  }
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 18px;
}

.wrap {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px
}

.block {
  margin-bottom: 1rem
}

.block-large {
  margin-bottom: 1.75rem;
}

@media all and (max-width: 900px){
  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media all and (max-width: 600px){
  .wrap {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }
}

@media all and (max-width: 480px){
  .wrap--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.header,
.footer {
  background: #bbb;
  height: 10vw;
  min-height: 55px;
  max-height: 94px
}

.footer {
  min-height: 100px;
  max-height: 200px;
  height: 20vh;
}

.main-nav {
  background: #aaa;
  height: 7vh;
  max-height: 50px;
}

.grid {
  display: grid;
  grid-gap: 0.7rem;
}

.tile-group {
  grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 860px){
  .tile-group[class] {
    grid-template-columns: repeat(2, 1fr)
  }

  .tile-hero[class] {
    grid-column: 1/3
  }

  .tile-advert[class] {
    grid-row: 3/5;
    grid-column: 2;
  }
}

@media all and (max-width: 600px){
  .tile-group[class] {
    grid-template-columns: repeat(1, 1fr)
  }

  .tile-hero[class] {
    grid-column: 1/2
  }

  .tile:not(.tile-hero) {
    max-height: 100px
  }

  .tile-advert[class] {
    grid-row: 6;
    grid-column: 1;
  }
}

.tile {
  background: white;
  max-height: 360px;
  position: relative;
}

.tile:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.tile-hero {
  grid-column: 1/4
}

.title {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .75em!important;
  font-size: 1rem!important;
}

.tile-advert {
  grid-row: 2/4;
  grid-column: 3;
  /* outline: 2px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.advert-banner-wrap {
  background: #ddd;
  padding: 0.5rem 0;
  min-height: 90px;
  z-index: 99;
  position: relative;
}

.advert-boundary {
  /* outline: 2px solid red; */
  position: absolute;
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
}

.advert-banner,
.advert-mpu {
  width: 728px;
  height: 90px;
  background: hotpink;
  position: sticky;
  top: 0;
  pointer-events: all;
}

.advert-mpu {
  width: 300px;
  min-height: 250px;
  position: stick;
  top: 0;
}

@media all and (max-width: 730px){

  .advert-banner-wrap {
    min-height: 50px
  }

  .advert-banner {
    width: 300px;
    height: 50px;
  }
}

