@font-face {
  font-family: 'Sky Text'; 
  src: "sky-regular.woff" format('woff'); 
  font-weight: normal
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: calc(12px + 2vw);
}

@media all and (min-width: 1024px){
  html {
    font-size: 32px;
  }
}

body {
  background: #eee;
  font-family: 'Sky Text';
  font-size: 18px;
}

body.light {
  background: white
}

.wrap {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px
}

.wrap--narrow {
  max-width: 664px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  margin-bottom: 1rem
}

.block-large {
  margin-bottom: 1.75rem;
}

@media all and (max-width: 900px){
  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media all and (max-width: 600px){
  .wrap {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }
}

@media all and (max-width: 480px){
  .wrap--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.header,
.footer {
  background: #bbb;
  height: 10vw;
  min-height: 55px;
  max-height: 94px
}

.footer {
  min-height: 100px;
  max-height: 200px;
  height: 20vh;
}

.main-nav {
  background: #aaa;
  height: 7vh;
  max-height: 50px;
}

.grid {
  display: grid;
  grid-gap: 0.7rem;
}

.tile-group {
  grid-template-columns: repeat(3, 1fr);
}

.tile-group--data[class] 
.tile-advert {
  grid-row: 1/4;
}

@media all and (max-width: 860px){
  .tile-group[class] {
    grid-template-columns: repeat(2, 1fr)
  }

  .tile-hero[class] {
    grid-column: 1/3
  }

  .tile-advert[class] {
    grid-row: 3/5;
    grid-column: 2;
  }

  .tile-group--data[class] 
  .tile-advert {
    grid-row: 4;
    grid-column: 1/3
  }
}

@media all and (max-width: 600px){
  .tile-group[class] {
    grid-template-columns: repeat(1, 1fr)
  }

  .tile-hero[class] {
    grid-column: 1/2
  }

  .tile:not(.tile-hero):not(.tile-data) {
    max-height: 100px
  }

  .tile-advert[class] {
    grid-row: 6;
    grid-column: 1;
  }
}

.tile {
  background: white;
  max-height: 360px;
  position: relative;
}

.tile:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.tile-hero {
  grid-column: 1/4
}

.title {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .75em!important;
  font-size: 1rem!important;
}

.tile-advert {
  grid-row: 2/4;
  grid-column: 3;
  /* outline: 2px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tile-data {
  grid-column: 1/3;
  grid-row: 1/4;
  max-height: auto
}

.advert-banner-wrap {
  background: #ddd;
  padding: 0.5rem 0;
  min-height: 90px;
  width: 100%;
  z-index: 99;
  position: relative;
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: all;
}

.advert-banner-wrap--ghost {
  visibility: hidden;
  pointer-events: none;
}

.advert-boundary {
  /* outline: 2px solid red; */
  position: absolute;
  height: 1000px;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.advert-banner,
.advert-mpu {
  width: 728px;
  height: 90px;
  background: hotpink;
  top: 0;
}

.advert-mpu {
  width: 300px;
  min-height: 250px;
}

.advert-mpu--sticky {
  position: sticky;
  top: 18px;
}

.article-body {
  position: relative
}

.article-body-inner {
  margin-left: 0
}

@media all and (max-width: 730px){

  .advert-banner-wrap {
    min-height: 50px
  }

  .advert-banner {
    width: 300px;
    height: 50px;
  }
}

.article {
  line-height: 1.5;
  font-size: calc(15px + 0.2rem);
  padding-bottom: 2rem;
}

.article p {
  margin-bottom: 2em
}

.article-headline {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.1;
  padding-top: 0.2em
}

.article-outbrain[class] {
  padding-bottom: 150%;
  margin-left: 0
}

.article-body {
  /* display: flex; */
  /* flex-direction: column; */
}

.article-body
.advert-mpu {
  margin: 0 auto 1.5rem auto;
}

@media all and (min-width: 1024px) {
  .article-body
  .advert-mpu {
    float: right;
    margin: 0 0 1rem 1rem;
    top: 18px
  }

  .advert-mpu--article-sticky {
    position: sticky;
    top: 18px;
  }

  .article-aside {
    float: right;
    margin: 0 0 1rem 1rem;
    top: 18px;
    /* outline: 2px solid red; */
    min-height: 150vh;
    clear: right;
    width: 300px;
  }

  .article-aside > div {
    position: sticky;
    top: 18px;
    min-height: 250px;
  }

  .advert-mpu--sticky {
    position: sticky;
  }

  .article-body > p {
    margin-left: 0
  }

  .article-module[class] {
    margin-left: 0;
  }

  .advert-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }

  .advert-container--split {
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    /* outline: 2px solid orange */
  }

  .advert-container--split ~
  .advert-container--split {
    top: 50%;
  }
  .advert-container--split
  .article-module--outbrain {
    float: right;
    width: 300px;
    height: 300px;
    position: sticky;
    top: 12px;
  }
}

.article-module {
  background: #666;
  margin-bottom: 1.5rem;
  padding-bottom: 20%;
  min-height: 70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #eee
}

.article-module:after {
  content: attr(data-title);
  font-size: 1rem;
  position: absolute;
  line-height: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.article-module--skybet {
  background: #002672;
  color: white;
}

.article-module--outbrain {
  background: #fff;
  color: #f79828;
  border: 3px solid #f79828;
}

.article-module--teads {
  background: hotpink;
  color: #fff;
}

