/* sdc-site-pundits */
/* ========= */
/* sdc-site-pundits SKIN */
/* ========= */
/* sdc-site-pundits */
.sdc-site-pundits {
  font-size: var(--component-text);
  text-align: center;
  position: relative; }

.sdc-site-pundits__inner {
  background-color: var(--component-bg);
  padding: var(--component-padding) 0 calc(var(--component-padding) * 1.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.sdc-site-pundits__figure {
  width: 50%;
  margin: var(--component-gap) 0;
  position: relative;
  z-index: 4; }
  .sdc-site-pundits__figure--fallback {
    width: 100%;
    margin: calc(var(--component-padding) * -1);
    margin-bottom: var(--component-gap); }
    .sdc-site-pundits__figure--fallback .sdc-site-pundits__figure-image-wrap {
      padding-bottom: 56.25%; }

.sdc-site-pundits__figure-image-wrap {
  position: relative;
  padding-bottom: 100%;
  display: block; }

.sdc-site-pundits__figure-image {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 50%;
  background: var(--component-bg); }
  .sdc-site-pundits__figure-image--fallback {
    border: 0;
    border-radius: 0;
    height: 100%;
    object-fit: cover;
    background-color: transparent; }

.sdc-site-pundits__body {
  width: 100%; }

.sdc-site-pundits__tag {
  font-weight: normal;
  font-size: var(--label-text);
  color: var(--link-color);
  margin-bottom: 0.1em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.3;
  position: relative;
  z-index: 5; }

.sdc-site-pundits__tag-link {
  color: inherit; }

.sdc-site-pundits__headline {
  font-size: var(--display-4);
  line-height: 1.2;
  font-weight: 200;
  padding: 0 var(--component-gap); }

.sdc-site-pundits__headline-text {
  position: relative;
  z-index: 4;
  background: inherit; }

.sdc-site-pundits__headline-link:before,
.sdc-site-pundits__headline:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4; }

.sdc-site-pundits__headline:after {
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 3; }

.sdc-site-pundits--has-link:hover .sdc-site-pundits__headline:after {
  background: inherit;
  opacity: 1; }

.sdc-site-pundits--has-link:hover .sdc-site-pundits__headline,
.sdc-site-pundits--has-link:hover .sdc-site-pundits__tag {
  color: inherit; }

@media all and (max-width: 859px) {
  .sdc-site-pundits[class] {
    width: 100%; }
  .sdc-site-pundits__inner {
    flex-direction: row;
    justify-content: center;
    padding: var(--component-padding); }
  .sdc-site-pundits__figure {
    width: 25%;
    min-width: 110px;
    max-width: 160px;
    margin: 0; } }

@media all and (max-width: 480px) {
  .sdc-site-pundits__headline {
    font-size: var(--display-5); }
  .sdc-site-pundits__headline-text[data-short-text]:not([data-short-text=""]):before {
    content: attr(data-short-text); }
  .sdc-site-pundits__headline-text:not([data-short-text=""]) > span[data-short-text-target] {
    display: none; } }
