@font-face{
  font-family:"skytext";
  src:url(sky-regular.woff?r=20181120) format("woff");
}

@font-face{
  font-family:"skytext";
  src:url(sky-medium.woff?r=20181120) format("woff");
  font-weight:700
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  font-size: calc(12px + 1vw);
  color: #4a4a4a;
  font-family: "skytext";
}

img {
  max-width: 100%;
}

@media all and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  background: linear-gradient(to right, #ed7723, #f4a229);
  color: white
}

.wrap {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

.hero {
  position: relative;
  max-height: 60vh;
  overflow: hidden
}

.hero:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.hero-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  z-index: 2
}

.hero-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0 10vw 0.5em 20vw
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom
}

.timeline-list {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline-list:after {
  content: "";
  width: 1px;
  background: white;
  top: 0;
  height: 100%;
  left: calc(20vw - 1.5rem);
  position: absolute;
}

.timeline-list__link {
  display: flex;
  width: 100%;
  color: #4a4a4a;
  text-decoration: none;
  line-height: 1.16;
  -webkit-appearance: none;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  background: none
}

.timeline-list__link:active,
.timeline-list__link:focus {
  outline: none;
}

.timeline-list__link:not([disabled]) {
  cursor: pointer
}

.timeline-list__link > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20vw;
  /* min-width: 85px; */
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 3rem;
  text-align: right;
  color: white;
  padding-right: 3rem
} 


.timeline-list__link > span:after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0.5rem;
  top: -1px;
  height: calc(100% + 2px);
  z-index: 2
}

.timeline-list__link > span:before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid white;
  box-sizing: border-box;
  right: 0;
  transform: translateX(calc(-1.5rem + 50%));
  z-index: 2;
  border-radius: 50%;
  z-index: 3;
  background: #f4a229;
}

.timeline-list__link > strong {
  height: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  flex: 5;
  padding-left: calc(2% + 1vw);;
  background: #fff3ea;
  border-left: 0;
  border-right: 0;
  top:-1px;
  position: relative;
  height: calc(100% - 0.3em);
  text-align: left;
  background: white;
  border-radius: 8px;
  margin: 0 0 0.6em;
} 

.timeline-list__link[data-hascontent="false"]
.timeline-list__icon {
  display: none;
}

.timeline-list__icon {
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzQgMzQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTYuMDIgMTIuNjdjLjAxLjE5NC4wODcuMzYyLjI0Ny41MjVsLjE4OC4xOTIgMTAuMDY1IDEwLjA2M2MuMTg4LjE5LjQ0LjI5NC43MDYuMjk0cy41MTgtLjEwNC43MDctLjI5M2wxMC4xMzUtMTAuMTM0LjEyMy0uMTI2Yy4xNjItLjE2My4yNC0uMzMyLjI0OC0uNTMuMDA2LS4xNzMtLjE1NS0uNDM4LS40NDItLjcyNS0uMTg3LS4xODctLjM4Ni0uMzY4LS41OS0uNTM3LS4wNS0uMDQtLjA5Ni0uMDc4LS4xMzgtLjExbC0uNDk2LjQ5NS05LjE5MyA5LjE5My0uMzU1LjM1NC0uMzU0LS4zNTQtOS4xOTctOS4xOTgtLjQ4NC0uNDg0Yy0uMDQzLjAzMy0uMDkuMDctLjE0LjExMi0uMjA0LjE2OC0uNDAyLjM0OC0uNTkuNTM2LS4yODUuMjg4LS40NDYuNTUzLS40NC43Mjd6Ii8+PC9zdmc+) no-repeat;
  pointer-events: none;
}

.timeline-list__link[aria-expanded="true"]
.timeline-list__icon {
  transform: rotate(180deg)
}

.timeline-list__content[aria-hidden="true"] {
  display: none;
}

.timeline-list__content[aria-hidden="false"] {
  display: block;
}

.timeline-list__content {
  text-align: left;
  padding: 1.4rem calc(2% + 1vw) 1.8rem;
  background: #eee;
  margin: -1em 0 1em 20vw;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #4a4a4a;
  font-size: 0.9rem
}

.timeline-list__content a {
  text-decoration: none;
  color: #ed7723;
  font-weight: 600
}

.timeline-list__content p {
  margin-bottom: 0.9rem
}