@font-face{
  font-family:"skytext";
  src:url(sky-regular.woff?r=20181120) format("woff");
}

@font-face{
  font-family:"skytext";
  src:url(sky-medium.woff?r=20181120) format("woff");
  font-weight:700
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  font-size: calc(12px + 1vw);
  color: #4a4a4a;
  font-family: "skytext";
}

@media all and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

.wrap {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

.timeline-list {
  list-style: none;
  padding: 0
}

.timeline-list__link {
  display: flex;
  width: 100%;
  color: inherit;
  text-decoration: none;
  line-height: 1.16;
  -webkit-appearance: none;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
}

.timeline-list__link:not([disabled]) {
  cursor: pointer
}

.timeline-list__link > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
  padding-right: calc(2% + 1vw);
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 3rem;
  border-top: 1px solid #eee;
  text-align: right;
} 

.timeline-list__item:last-child
.timeline-list__link > span {
  border-bottom: 1px solid #eee
}

.timeline-list__link > span:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #ef7d22;
  right: 0;
  top: -1px;
  height: calc(100% + 2px);
  z-index: 2
}

.timeline-list__link > span:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: white;
  border: 3px solid #ef7d22;
  box-sizing: border-box;
  right: 0;
  transform: translateX(calc(50% - 1.5px));
  z-index: 2;
  border-radius: 50%;
  z-index: 3
}

.timeline-list__link > strong {
  height: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  flex: 5;
  padding-left: calc(4% + 1vw);;
  background: #fff3ea;
  border: 0.2em solid white; 
  border-left: 0;
  border-right: 0;
  top:-1px;
  position: relative;
  height: calc(100% + 2px);
  text-align: left;
} 

.timeline-list__link[data-hascontent="false"]
.timeline-list__icon {
  display: none;
}

.timeline-list__icon {
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzQgMzQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTYuMDIgMTIuNjdjLjAxLjE5NC4wODcuMzYyLjI0Ny41MjVsLjE4OC4xOTIgMTAuMDY1IDEwLjA2M2MuMTg4LjE5LjQ0LjI5NC43MDYuMjk0cy41MTgtLjEwNC43MDctLjI5M2wxMC4xMzUtMTAuMTM0LjEyMy0uMTI2Yy4xNjItLjE2My4yNC0uMzMyLjI0OC0uNTMuMDA2LS4xNzMtLjE1NS0uNDM4LS40NDItLjcyNS0uMTg3LS4xODctLjM4Ni0uMzY4LS41OS0uNTM3LS4wNS0uMDQtLjA5Ni0uMDc4LS4xMzgtLjExbC0uNDk2LjQ5NS05LjE5MyA5LjE5My0uMzU1LjM1NC0uMzU0LS4zNTQtOS4xOTctOS4xOTgtLjQ4NC0uNDg0Yy0uMDQzLjAzMy0uMDkuMDctLjE0LjExMi0uMjA0LjE2OC0uNDAyLjM0OC0uNTkuNTM2LS4yODUuMjg4LS40NDYuNTUzLS40NC43Mjd6Ii8+PC9zdmc+) no-repeat;
  pointer-events: none;
}

.timeline-list__link[aria-expanded="true"]
.timeline-list__icon {
  transform: rotate(180deg)
}

.timeline-list__content[aria-hidden="true"] {
  display: none;
}

.timeline-list__content[aria-hidden="false"] {
  display: block;
}

.timeline-list__content {
  text-align: center;
  padding: 2rem 0
}

.timeline-list__content p {
  margin-bottom: 1rem
}